<?xml version="1.0" encoding="UTF-8"?>
    <source package="com.sun.tools.example.debug.tty">
        <import package="com.sun.jdi.Location"/>
        <import package="com.sun.jdi.AbsentInformationException"/>
        <import package="java.util.List"/>
        <import package="java.util.ArrayList"/>
        <import package="java.util.StringTokenizer"/>
        <import package="java.io"/>
        <class name="SourceMapper" line="8">
            <declaration name="dirs" type="String[]" line="9"/>
            <method name="SourceMapper" type="constructor" line="10">
                <params>
                    <param name="sourcepath" type="List<String>"/>
                </params>
                <declaration name="dirList" type="List&lt;String&gt;" line="11"/>
                <scope line="12">
                    <scope line="13"/>
                </scope>
            </method>
            <method name="SourceMapper" type="constructor" line="19">
                <params>
                    <param name="sourcepath" type="String"/>
                </params>
                <declaration name="st" type="StringTokenizer" line="20"/>
                <declaration name="dirList" type="List&lt;String&gt;" line="21"/>
                <scope line="22">
                    <declaration name="s" type="String" line="23"/>
                    <scope line="24"/>
                </scope>
            </method>
            <method name="getSourcePath" type="String" line="30">
                <declaration name="i" type="int" line="31"/>
                <declaration name="sp" type="StringBuffer" line="32"/>
                <scope line="33"/>
                <scope line="36"/>
                <scope line="39"/>
            </method>
            <javadoc line="45">
                Return a File cooresponding to the source of this location.
                  Return null if not available.                
            </javadoc>
            <method name="sourceFile" type="File" line="49">
                <params>
                    <param name="loc" type="Location"/>
                </params>
                <scope line="50">
                    <declaration name="filename" type="String" line="51"/>
                    <declaration name="refName" type="String" line="52"/>
                    <declaration name="iDot" type="int" line="53"/>
                    <declaration name="pkgName" type="String" line="54"/>
                    <declaration name="full" type="String" line="55"/>
                    <scope line="56">
                        <declaration name="path" type="File" line="57"/>
                        <scope line="58"/>
                    </scope>
                </scope>
                <scope line="64"/>
            </method>
            <javadoc line="68">
                Return a BufferedReader cooresponding to the source
                  of this location.
                  Return null if not available.
                  Note: returned reader must be closed.                
            </javadoc>
            <method name="sourceReader" type="BufferedReader" line="74">
                <params>
                    <param name="loc" type="Location"/>
                </params>
                <declaration name="sourceFile" type="File" line="75"/>
                <scope line="76"/>
                <scope line="79"/>
                <scope line="82"/>
            </method>
        </class>
    </source>