<?xml version="1.0" encoding="UTF-8"?>
    <source package="com.sun.tools.example.debug.tty">
        <import package="com.sun.jdi.Location"/>
        <import package="com.sun.jdi.AbsentInformationException"/>
        <import package="java.util.List"/>
        <import package="java.util.ArrayList"/>
        <import package="java.util.StringTokenizer"/>
        <import package="java.io"/>
        <class name="SourceMapper" line="35">
            <comment line="81">
                Return the current sourcePath as a String.                
            </comment>
            <declaration name="dirs" type="String[]" line="37"/>
            <method name="SourceMapper" type="constructor" line="39">
                <params>
                    <param name="sourcepath" type="List<String>"/>
                </params>
                <comment line="41">
                    sourcepath can arrive from the debugee as a List.
                     (via PathSearchingVirtualMachine.classPath())                    
                </comment>
                <comment line="47">
                    XXX remove .jar and .zip files; we want only directories on
                    the source path. (Bug ID 4186582)                    
                </comment>
                <declaration name="dirList" type="List&lt;String&gt;" line="44"/>
                <scope line="45">
                    <scope line="49"/>
                </scope>
            </method>
            <method name="SourceMapper" type="constructor" line="56">
                <params>
                    <param name="sourcepath" type="String"/>
                </params>
                <comment line="58">
                    sourcepath can also arrive from the command line
                     as a String.  (via &quot;-sourcepath&quot;)
                    
                     Using File.pathSeparator as delimiter below is OK
                     because we are on the same machine as the command
                     line originiated.                    
                </comment>
                <comment line="71">
                    XXX remove .jar and .zip files; we want only directories on
                    the source path. (Bug ID 4186582)                    
                </comment>
                <declaration name="st" type="StringTokenizer" line="65"/>
                <declaration name="dirList" type="List&lt;String&gt;" line="67"/>
                <scope line="68">
                    <declaration name="s" type="String" line="69"/>
                    <scope line="73"/>
                </scope>
            </method>
            <method name="getSourcePath" type="String" line="83">
                <comment line="88">
                    The source path is empty.                    
                </comment>
                <declaration name="i" type="int" line="84"/>
                <declaration name="sp" type="StringBuffer" line="85"/>
                <scope line="86"/>
                <scope line="88"/>
                <scope line="91"/>
            </method>
            <javadoc line="98">
                Return a File cooresponding to the source of this location.
                  Return null if not available.                
            </javadoc>
            <method name="sourceFile" type="File" line="102">
                <params>
                    <param name="loc" type="Location"/>
                </params>
                <scope line="103">
                    <declaration name="filename" type="String" line="104"/>
                    <declaration name="refName" type="String" line="105"/>
                    <declaration name="iDot" type="int" line="106"/>
                    <declaration name="pkgName" type="String" line="107"/>
                    <declaration name="full" type="String" line="108"/>
                    <scope line="109">
                        <declaration name="path" type="File" line="110"/>
                        <scope line="111"/>
                    </scope>
                </scope>
                <scope line="116"/>
            </method>
            <javadoc line="121">
                Return a BufferedReader cooresponding to the source
                  of this location.
                  Return null if not available.
                  Note: returned reader must be closed.                
            </javadoc>
            <method name="sourceReader" type="BufferedReader" line="127">
                <params>
                    <param name="loc" type="Location"/>
                </params>
                <declaration name="sourceFile" type="File" line="128"/>
                <scope line="129"/>
                <scope line="132"/>
                <scope line="134"/>
            </method>
        </class>
    </source>