<?xml version="1.0" encoding="UTF-8"?>
    <source package="com.sun.org.apache.xml.internal.security.algorithms">
        <import package="java.util.HashMap"/>
        <import package="java.util.Map"/>
        <import package="com.sun.org.apache.xml.internal.security.Init"/>
        <import package="com.sun.org.apache.xml.internal.security.utils.XMLUtils"/>
        <import package="org.w3c.dom.Element"/>
        <class name="JCEMapper" line="35">
            <javadoc line="35">
                This class maps algorithm identifier URIs to JAVA JCE class names.                
                <author>
                    $Author: mullan $                    
                </author>
            </javadoc>
            <declaration name="log" type="java.util.logging.Logger" line="42"/>
            <javadoc line="42">
                {@link java.util.logging} logging facility                
            </javadoc>
            <declaration name="uriToJCEName" type="Map" line="48"/>
            <declaration name="algorithmsMap" type="Map" line="50"/>
            <declaration name="providerName" type="String" line="52"/>
            <javadoc line="53">
                Method init                
                <param>
                    mappingElement                    
                </param>
                <throws>
                    Exception                    
                </throws>
            </javadoc>
            <method name="init" type="void" line="59">
                <params>
                    <param name="mappingElement" type="Element"/>
                </params>
            </method>
            <method name="loadAlgorithms" type="void" line="64">
                <params>
                    <param name="algorithmsEl" type="Element"/>
                </params>
                <declaration name="algorithms" type="Element[]" line="65"/>
                <scope line="68">
                    <declaration name="el" type="Element" line="69"/>
                    <declaration name="id" type="String" line="70"/>
                    <declaration name="jceName" type="String" line="71"/>
                </scope>
            </method>
            <method name="getAlgorithmMapping" type="Algorithm" line="78">
                <params>
                    <param name="algoURI" type="String"/>
                </params>
            </method>
            <javadoc line="82">
                Method translateURItoJCEID                
                <param>
                    AlgorithmURI                    
                </param>
                <return>
                    the JCE standard name corresponding to the given URI                    
                </return>
            </javadoc>
            <method name="translateURItoJCEID" type="String" line="89">
                <params>
                    <param name="AlgorithmURI" type="String"/>
                </params>
                <declaration name="jceName" type="String" line="93"/>
            </method>
            <javadoc line="97">
                Method getAlgorithmClassFromURI
                  NOTE(Raul Benito) It seems a buggy function the loop doesn&apos;t do
                  anything??                
                <param>
                    AlgorithmURI                    
                </param>
                <return>
                    the class name that implements this algorithm                    
                </return>
            </javadoc>
            <method name="getAlgorithmClassFromURI" type="String" line="105">
                <params>
                    <param name="AlgorithmURI" type="String"/>
                </params>
            </method>
            <javadoc line="112">
                Returns the keylength in bit for a particular algorithm.                
                <param>
                    AlgorithmURI                    
                </param>
                <return>
                    The length of the key used in the alogrithm                    
                </return>
            </javadoc>
            <method name="getKeyLengthFromURI" type="int" line="118">
                <params>
                    <param name="AlgorithmURI" type="String"/>
                </params>
            </method>
            <javadoc line="122">
                Method getJCEKeyAlgorithmFromURI                
                <param>
                    AlgorithmURI                    
                </param>
                <return>
                    The KeyAlgorithm for the given URI.                    
                </return>
            </javadoc>
            <method name="getJCEKeyAlgorithmFromURI" type="String" line="129">
                <params>
                    <param name="AlgorithmURI" type="String"/>
                </params>
            </method>
            <javadoc line="135">
                Gets the default Provider for obtaining the security algorithms                
                <return>
                    the default providerId.                    
                </return>
            </javadoc>
            <method name="getProviderId" type="String" line="139"/>
            <javadoc line="143">
                Sets the default Provider for obtaining the security algorithms                
                <param>
                    provider the default providerId.                    
                </param>
            </javadoc>
            <method name="setProviderId" type="void" line="147">
                <params>
                    <param name="provider" type="String"/>
                </params>
            </method>
            <class name="Algorithm" line="151">
                <javadoc line="151">
                    Represents the Algorithm xml element                    
                </javadoc>
                <declaration name="algorithmClass" type="String" line="155"/>
                <declaration name="keyLength" type="String" line="156"/>
                <declaration name="requiredKey" type="String" line="157"/>
                <javadoc line="158">
                    Gets data from element                    
                    <param>
                        el                        
                    </param>
                </javadoc>
                <method name="Algorithm" type="constructor" line="162">
                    <params>
                        <param name="el" type="Element"/>
                    </params>
                </method>
            </class>
        </class>
    </source>