<?xml version="1.0" encoding="UTF-8"?>
    <source package="sun.font">
        <class name="CharToGlyphMapper" line="2">
            <declaration name="HI_SURROGATE_START" type="int" line="3"/>
            <declaration name="HI_SURROGATE_END" type="int" line="4"/>
            <declaration name="LO_SURROGATE_START" type="int" line="5"/>
            <declaration name="LO_SURROGATE_END" type="int" line="6"/>
            <declaration name="UNINITIALIZED_GLYPH" type="int" line="7"/>
            <declaration name="INVISIBLE_GLYPH_ID" type="int" line="8"/>
            <declaration name="INVISIBLE_GLYPHS" type="int" line="9"/>
            <declaration name="missingGlyph" type="int" line="10"/>
            <method name="getMissingGlyphCode" type="int" line="11"/>
            <method name="canDisplay" type="boolean" line="14">
                <params>
                    <param name="ch" type="char"/>
                </params>
                <declaration name="glyph" type="int" line="15"/>
            </method>
            <method name="canDisplay" type="boolean" line="18">
                <params>
                    <param name="cp" type="int"/>
                </params>
                <declaration name="glyph" type="int" line="19"/>
            </method>
            <method name="charToGlyph" type="int" line="22">
                <params>
                    <param name="unicode" type="char"/>
                </params>
                <declaration name="chars" type="char[]" line="23"/>
                <declaration name="glyphs" type="int[]" line="24"/>
            </method>
            <method name="charToGlyph" type="int" line="29">
                <params>
                    <param name="unicode" type="int"/>
                </params>
                <declaration name="chars" type="int[]" line="30"/>
                <declaration name="glyphs" type="int[]" line="31"/>
            </method>
            <method name="getNumGlyphs" type="int" line="36"/>
            <method name="charsToGlyphs" type="void" line="37"/>
            <method name="charsToGlyphsNS" type="boolean" line="38"/>
            <method name="charsToGlyphs" type="void" line="39"/>
        </class>
    </source>