<?xml version="1.0" encoding="UTF-8"?>
    <source package="sun.font">
        <class name="CharToGlyphMapper" line="33">
            <comment line="43">
                and above                
            </comment>
            <comment line="51">
                Default implementations of these methods may be overridden by
                 subclasses which have special requirements or optimisations                
            </comment>
            <declaration name="HI_SURROGATE_START" type="int" line="35"/>
            <declaration name="HI_SURROGATE_END" type="int" line="36"/>
            <declaration name="LO_SURROGATE_START" type="int" line="37"/>
            <declaration name="LO_SURROGATE_END" type="int" line="38"/>
            <declaration name="UNINITIALIZED_GLYPH" type="int" line="40"/>
            <declaration name="INVISIBLE_GLYPH_ID" type="int" line="41"/>
            <declaration name="INVISIBLE_GLYPHS" type="int" line="42"/>
            <declaration name="missingGlyph" type="int" line="44"/>
            <method name="getMissingGlyphCode" type="int" line="46"/>
            <method name="canDisplay" type="boolean" line="54">
                <params>
                    <param name="ch" type="char"/>
                </params>
                <declaration name="glyph" type="int" line="55"/>
            </method>
            <method name="canDisplay" type="boolean" line="59">
                <params>
                    <param name="cp" type="int"/>
                </params>
                <declaration name="glyph" type="int" line="60"/>
            </method>
            <method name="charToGlyph" type="int" line="64">
                <params>
                    <param name="unicode" type="char"/>
                </params>
                <declaration name="chars" type="char[]" line="65"/>
                <declaration name="glyphs" type="int[]" line="66"/>
            </method>
            <method name="charToGlyph" type="int" line="72">
                <params>
                    <param name="unicode" type="int"/>
                </params>
                <declaration name="chars" type="int[]" line="73"/>
                <declaration name="glyphs" type="int[]" line="74"/>
            </method>
            <method name="getNumGlyphs" type="int" line="80"/>
            <method name="charsToGlyphs" type="void" line="82"/>
            <method name="charsToGlyphsNS" type="boolean" line="85"/>
            <method name="charsToGlyphs" type="void" line="88"/>
        </class>
    </source>