<?xml version="1.0" encoding="UTF-8"?>
    <source package="sun.font">
        <class name="CompositeGlyphMapper" line="45">
            <extends class="CharToGlyphMapper"/>
            <comment line="188">
                This variant checks if shaping is needed and immediately
                 returns true if it does. A caller of this method should be expecting
                 to check the return type because it needs to know how to handle
                 the character data for display.                
            </comment>
            <comment line="230">
                The conversion is not very efficient - looping as it does, converting
                 one char at a time. However the cache should fill very rapidly.                
            </comment>
            <declaration name="SLOTMASK" type="int" line="47"/>
            <declaration name="GLYPHMASK" type="int" line="48"/>
            <declaration name="NBLOCKS" type="int" line="50"/>
            <declaration name="BLOCKSZ" type="int" line="51"/>
            <declaration name="MAXUNICODE" type="int" line="52"/>
            <declaration name="font" type="CompositeFont" line="55"/>
            <declaration name="slotMappers" type="CharToGlyphMapper" line="56"/>
            <declaration name="glyphMaps" type="int[][]" line="57"/>
            <declaration name="hasExcludes" type="boolean" line="58"/>
            <method name="CompositeGlyphMapper" type="constructor" line="60">
                <params>
                    <param name="compFont" type="CompositeFont"/>
                </params>
                <comment line="64">
                    This is often false which saves the overhead of a
                     per-mapped char method call.                    
                </comment>
            </method>
            <method name="compositeGlyphCode" type="int" line="70">
                <params>
                    <param name="slot" type="int"/>
                    <param name="glyphCode" type="int"/>
                </params>
            </method>
            <method name="initMapper" type="void" line="74">
                <comment line="81">
                                        
                </comment>
                <scope line="75">
                    <scope line="76"/>
                </scope>
            </method>
            <method name="getCachedGlyphCode" type="int" line="86">
                <params>
                    <param name="unicode" type="int"/>
                </params>
                <comment line="89">
                    don&apos;t cache surrogates                    
                </comment>
                <scope line="87"/>
                <declaration name="gmap" type="int[]" line="90"/>
                <scope line="91"/>
            </method>
            <method name="setCachedGlyphCode" type="void" line="97">
                <params>
                    <param name="unicode" type="int"/>
                    <param name="glyphCode" type="int"/>
                </params>
                <comment line="100">
                    don&apos;t cache surrogates                    
                </comment>
                <scope line="98"/>
                <declaration name="index0" type="int" line="101"/>
                <scope line="102">
                    <scope line="104"/>
                </scope>
            </method>
            <method name="getSlotMapper" type="CharToGlyphMapper" line="111">
                <params>
                    <param name="slot" type="int"/>
                </params>
                <declaration name="mapper" type="CharToGlyphMapper" line="112"/>
                <scope line="113"/>
            </method>
            <method name="convertToGlyph" type="int" line="120">
                <params>
                    <param name="unicode" type="int"/>
                </params>
                <scope line="122">
                    <scope line="123">
                        <declaration name="mapper" type="CharToGlyphMapper" line="124"/>
                        <declaration name="glyphCode" type="int" line="125"/>
                        <scope line="126"/>
                    </scope>
                </scope>
            </method>
            <method name="getNumGlyphs" type="int" line="136">
                <comment line="139">
                    The number of glyphs in a composite is affected by
                     exclusion ranges and duplicates (ie the same code point is
                     mapped by two different fonts) and also whether or not to
                     count fallback fonts. A nearly correct answer would be very
                     expensive to generate. A rough ballpark answer would
                     just count the glyphs in all the slots. However this would
                     initialize mappers for all slots when they aren&apos;t necessarily
                     needed. For now just use the first slot as JDK 1.4 did.                    
                </comment>
                <comment line="148">
                                        
                </comment>
                <declaration name="numGlyphs" type="int" line="137"/>
                <scope line="147">
                    <declaration name="mapper" type="CharToGlyphMapper" line="148"/>
                    <scope line="149"/>
                </scope>
            </method>
            <method name="charToGlyph" type="int" line="158">
                <params>
                    <param name="unicode" type="int"/>
                </params>
                <declaration name="glyphCode" type="int" line="160"/>
                <scope line="161"/>
            </method>
            <method name="charToGlyph" type="int" line="167">
                <params>
                    <param name="unicode" type="int"/>
                    <param name="prefSlot" type="int"/>
                </params>
                <scope line="168">
                    <declaration name="mapper" type="CharToGlyphMapper" line="169"/>
                    <declaration name="glyphCode" type="int" line="170"/>
                    <scope line="171"/>
                </scope>
            </method>
            <method name="charToGlyph" type="int" line="178">
                <params>
                    <param name="unicode" type="char"/>
                </params>
                <declaration name="glyphCode" type="int" line="180"/>
                <scope line="181"/>
            </method>
            <method name="charsToGlyphsNS" type="boolean" line="192">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="char[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <comment line="196">
                    char is unsigned.                    
                </comment>
                <comment line="222">
                    Empty glyph slot after surrogate                    
                </comment>
                <scope line="194">
                    <declaration name="code" type="int" line="195"/>
                    <scope line="198">
                        <declaration name="low" type="char" line="199"/>
                        <scope line="202"/>
                    </scope>
                    <declaration name="gc" type="int" line="209"/>
                    <scope line="210"/>
                    <scope line="214"/>
                    <scope line="217"/>
                    <scope line="220"/>
                </scope>
            </method>
            <method name="charsToGlyphs" type="void" line="232">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="char[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <comment line="235">
                    char is unsigned.                    
                </comment>
                <comment line="250">
                    Empty glyph slot after surrogate                    
                </comment>
                <scope line="233">
                    <declaration name="code" type="int" line="234"/>
                    <scope line="237">
                        <declaration name="low" type="char" line="238"/>
                        <scope line="241">
                            <declaration name="gc" type="int" line="245"/>
                            <scope line="246"/>
                        </scope>
                    </scope>
                    <declaration name="gc" type="int" line="255"/>
                    <scope line="256"/>
                </scope>
            </method>
            <method name="charsToGlyphs" type="void" line="262">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="int[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <scope line="263">
                    <declaration name="code" type="int" line="264"/>
                    <scope line="267"/>
                </scope>
            </method>
        </class>
    </source>