<?xml version="1.0" encoding="UTF-8"?>
    <source package="sun.font">
        <class name="CompositeGlyphMapper" line="2">
            <extends class="CharToGlyphMapper"/>
            <declaration name="SLOTMASK" type="int" line="3"/>
            <declaration name="GLYPHMASK" type="int" line="4"/>
            <declaration name="NBLOCKS" type="int" line="5"/>
            <declaration name="BLOCKSZ" type="int" line="6"/>
            <declaration name="MAXUNICODE" type="int" line="7"/>
            <declaration name="font" type="CompositeFont" line="8"/>
            <declaration name="slotMappers" type="CharToGlyphMapper" line="9"/>
            <declaration name="glyphMaps" type="int[][]" line="10"/>
            <declaration name="hasExcludes" type="boolean" line="11"/>
            <method name="CompositeGlyphMapper" type="constructor" line="12">
                <params>
                    <param name="compFont" type="CompositeFont"/>
                </params>
            </method>
            <method name="compositeGlyphCode" type="int" line="17">
                <params>
                    <param name="slot" type="int"/>
                    <param name="glyphCode" type="int"/>
                </params>
            </method>
            <method name="initMapper" type="void" line="20">
                <scope line="21">
                    <scope line="22"/>
                </scope>
            </method>
            <method name="getCachedGlyphCode" type="int" line="30">
                <params>
                    <param name="unicode" type="int"/>
                </params>
                <scope line="31"/>
                <declaration name="gmap" type="int[]" line="34"/>
                <scope line="35"/>
            </method>
            <method name="setCachedGlyphCode" type="void" line="40">
                <params>
                    <param name="unicode" type="int"/>
                    <param name="glyphCode" type="int"/>
                </params>
                <scope line="41"/>
                <declaration name="index0" type="int" line="44"/>
                <scope line="45">
                    <scope line="47"/>
                </scope>
            </method>
            <method name="getSlotMapper" type="CharToGlyphMapper" line="53">
                <params>
                    <param name="slot" type="int"/>
                </params>
                <declaration name="mapper" type="CharToGlyphMapper" line="54"/>
                <scope line="55"/>
            </method>
            <method name="convertToGlyph" type="int" line="61">
                <params>
                    <param name="unicode" type="int"/>
                </params>
                <scope line="62">
                    <scope line="63">
                        <declaration name="mapper" type="CharToGlyphMapper" line="64"/>
                        <declaration name="glyphCode" type="int" line="65"/>
                        <scope line="66"/>
                    </scope>
                </scope>
            </method>
            <method name="getNumGlyphs" type="int" line="75">
                <declaration name="numGlyphs" type="int" line="76"/>
                <scope line="77">
                    <declaration name="mapper" type="CharToGlyphMapper" line="78"/>
                    <scope line="79"/>
                </scope>
            </method>
            <method name="charToGlyph" type="int" line="87">
                <params>
                    <param name="unicode" type="int"/>
                </params>
                <declaration name="glyphCode" type="int" line="88"/>
                <scope line="89"/>
            </method>
            <method name="charToGlyph" type="int" line="94">
                <params>
                    <param name="unicode" type="int"/>
                    <param name="prefSlot" type="int"/>
                </params>
                <scope line="95">
                    <declaration name="mapper" type="CharToGlyphMapper" line="96"/>
                    <declaration name="glyphCode" type="int" line="97"/>
                    <scope line="98"/>
                </scope>
            </method>
            <method name="charToGlyph" type="int" line="104">
                <params>
                    <param name="unicode" type="char"/>
                </params>
                <declaration name="glyphCode" type="int" line="105"/>
                <scope line="106"/>
            </method>
            <method name="charsToGlyphsNS" type="boolean" line="111">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="char[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <scope line="112">
                    <declaration name="code" type="int" line="113"/>
                    <scope line="114">
                        <declaration name="low" type="char" line="115"/>
                        <scope line="116"/>
                    </scope>
                    <declaration name="gc" type="int" line="121"/>
                    <scope line="122"/>
                    <scope line="125"/>
                    <scope line="128"/>
                    <scope line="131"/>
                </scope>
            </method>
            <method name="charsToGlyphs" type="void" line="138">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="char[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <scope line="139">
                    <declaration name="code" type="int" line="140"/>
                    <scope line="141">
                        <declaration name="low" type="char" line="142"/>
                        <scope line="143">
                            <declaration name="gc" type="int" line="145"/>
                            <scope line="146"/>
                        </scope>
                    </scope>
                    <declaration name="gc" type="int" line="154"/>
                    <scope line="155"/>
                </scope>
            </method>
            <method name="charsToGlyphs" type="void" line="160">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="int[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <scope line="161">
                    <declaration name="code" type="int" line="162"/>
                    <scope line="164"/>
                </scope>
            </method>
        </class>
    </source>