<?xml version="1.0" encoding="UTF-8"?>
    <source package="sun.font">
        <import package="java.nio.ByteBuffer"/>
        <import package="java.util.Locale"/>
        <class name="TrueTypeGlyphMapper" line="4">
            <extends class="CharToGlyphMapper"/>
            <declaration name="REVERSE_SOLIDUS" type="char" line="5"/>
            <declaration name="JA_YEN" type="char" line="6"/>
            <declaration name="JA_FULLWIDTH_TILDE_CHAR" type="char" line="7"/>
            <declaration name="JA_WAVE_DASH_CHAR" type="char" line="8"/>
            <declaration name="isJAlocale" type="boolean" line="9"/>
            <declaration name="needsJAremapping" type="boolean" line="10"/>
            <declaration name="remapJAWaveDash" type="boolean" line="11"/>
            <declaration name="font" type="TrueTypeFont" line="12"/>
            <declaration name="cmap" type="CMap" line="13"/>
            <declaration name="numGlyphs" type="int" line="14"/>
            <method name="TrueTypeGlyphMapper" type="constructor" line="15">
                <params>
                    <param name="font" type="TrueTypeFont"/>
                </params>
                <scope line="17"/>
                <scope line="20"/>
                <scope line="23"/>
                <declaration name="buffer" type="ByteBuffer" line="27"/>
                <scope line="29">
                    <scope line="31"/>
                </scope>
                <scope line="35"/>
            </method>
            <method name="getNumGlyphs" type="int" line="39"/>
            <method name="getGlyphFromCMAP" type="char" line="42">
                <params>
                    <param name="charCode" type="int"/>
                </params>
                <scope line="43">
                    <declaration name="glyphCode" type="char" line="44"/>
                    <scope line="45"/>
                    <scope line="48">
                        <scope line="49"/>
                    </scope>
                </scope>
                <scope line="55"/>
            </method>
            <method name="handleBadCMAP" type="void" line="60">
                <scope line="61"/>
            </method>
            <method name="remapJAChar" type="char" line="67">
                <params>
                    <param name="unicode" type="char"/>
                </params>
                <scope line="72"/>
            </method>
            <method name="remapJAIntChar" type="int" line="79">
                <params>
                    <param name="unicode" type="int"/>
                </params>
                <scope line="84"/>
            </method>
            <method name="charToGlyph" type="int" line="91">
                <params>
                    <param name="unicode" type="char"/>
                </params>
                <scope line="92"/>
                <declaration name="glyph" type="int" line="95"/>
                <scope line="96"/>
            </method>
            <method name="charToGlyph" type="int" line="101">
                <params>
                    <param name="unicode" type="int"/>
                </params>
                <scope line="102"/>
                <declaration name="glyph" type="int" line="105"/>
                <scope line="106"/>
            </method>
            <method name="charsToGlyphs" type="void" line="111">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="int[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <scope line="112">
                    <scope line="113"/>
                    <scope line="116"/>
                    <scope line="119"/>
                </scope>
            </method>
            <method name="charsToGlyphs" type="void" line="124">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="char[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <scope line="125">
                    <declaration name="code" type="int" line="126"/>
                    <scope line="127"/>
                    <scope line="130"/>
                    <scope line="133">
                        <declaration name="low" type="char" line="134"/>
                        <scope line="135"/>
                    </scope>
                    <scope line="144"/>
                </scope>
            </method>
            <method name="charsToGlyphsNS" type="boolean" line="149">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="char[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <scope line="150">
                    <declaration name="code" type="int" line="151"/>
                    <scope line="152"/>
                    <scope line="155"/>
                    <scope line="158">
                        <declaration name="low" type="char" line="159"/>
                        <scope line="160"/>
                    </scope>
                    <scope line="166"/>
                    <scope line="169"/>
                    <scope line="172"/>
                    <scope line="175"/>
                </scope>
            </method>
            <method name="hasSupplementaryChars" type="boolean" line="182"/>
        </class>
    </source>