<?xml version="1.0" encoding="UTF-8"?>
    <source package="sun.font">
        <import package="java.nio.ByteBuffer"/>
        <import package="java.util.Locale"/>
        <class name="TrueTypeGlyphMapper" line="31">
            <extends class="CharToGlyphMapper"/>
            <comment line="34">
                the backslash char.                
            </comment>
            <comment line="39">
                if running on Solaris and default Locale is ja_JP then
                 we map need to remap reverse solidus (backslash) to Yen as
                 apparently expected there.                
            </comment>
            <comment line="213">
                This variant checks if shaping is needed and immediately
                 returns true if it does. A caller of this method should be expecting
                 to check the return type because it needs to know how to handle
                 the character data for display.                
            </comment>
            <comment line="261">
                A pretty good heuristic is that the cmap we are using
                 supports 32 bit character codes.                
            </comment>
            <declaration name="REVERSE_SOLIDUS" type="char" line="33"/>
            <declaration name="JA_YEN" type="char" line="34"/>
            <declaration name="JA_FULLWIDTH_TILDE_CHAR" type="char" line="35"/>
            <declaration name="JA_WAVE_DASH_CHAR" type="char" line="36"/>
            <declaration name="isJAlocale" type="boolean" line="42"/>
            <declaration name="needsJAremapping" type="boolean" line="43"/>
            <declaration name="remapJAWaveDash" type="boolean" line="44"/>
            <declaration name="font" type="TrueTypeFont" line="46"/>
            <declaration name="cmap" type="CMap" line="47"/>
            <declaration name="numGlyphs" type="int" line="48"/>
            <method name="TrueTypeGlyphMapper" type="constructor" line="50">
                <params>
                    <param name="font" type="TrueTypeFont"/>
                </params>
                <comment line="61">
                                        
                </comment>
                <comment line="63">
                    offset 4 bytes in MAXP table.                    
                </comment>
                <scope line="52"/>
                <scope line="54"/>
                <scope line="57"/>
                <declaration name="buffer" type="ByteBuffer" line="61"/>
                <scope line="63">
                    <scope line="66"/>
                </scope>
                <scope line="69"/>
            </method>
            <method name="getNumGlyphs" type="int" line="74"/>
            <method name="getGlyphFromCMAP" type="char" line="78">
                <params>
                    <param name="charCode" type="int"/>
                </params>
                <scope line="79">
                    <declaration name="glyphCode" type="char" line="80"/>
                    <scope line="82"/>
                    <scope line="84">
                        <scope line="85"/>
                    </scope>
                </scope>
                <scope line="93"/>
            </method>
            <method name="handleBadCMAP" type="void" line="99">
                <comment line="106">
                    The next line is not really a solution, but might
                     reduce the exceptions until references to this font2D
                     are gone.                    
                </comment>
                <scope line="100"/>
            </method>
            <method name="remapJAChar" type="char" line="112">
                <params>
                    <param name="unicode" type="char"/>
                </params>
                <comment line="117">
                    This is a workaround for bug 4533422.
                     Japanese wave dash missing from Solaris JA TrueType fonts.                    
                </comment>
                <scope line="120"/>
            </method>
            <method name="remapJAIntChar" type="int" line="126">
                <params>
                    <param name="unicode" type="int"/>
                </params>
                <comment line="131">
                    This is a workaround for bug 4533422.
                     Japanese wave dash missing from Solaris JA TrueType fonts.                    
                </comment>
                <scope line="134"/>
            </method>
            <method name="charToGlyph" type="int" line="141">
                <params>
                    <param name="unicode" type="char"/>
                </params>
                <scope line="142"/>
                <declaration name="glyph" type="int" line="145"/>
                <scope line="146"/>
            </method>
            <method name="charToGlyph" type="int" line="152">
                <params>
                    <param name="unicode" type="int"/>
                </params>
                <scope line="153"/>
                <declaration name="glyph" type="int" line="156"/>
                <scope line="157"/>
            </method>
            <method name="charsToGlyphs" type="void" line="163">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="int[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <scope line="164">
                    <scope line="165"/>
                    <scope line="167"/>
                    <scope line="171"/>
                </scope>
            </method>
            <method name="charsToGlyphs" type="void" line="177">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="char[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <comment line="185">
                    char is unsigned.                    
                </comment>
                <comment line="198">
                    Empty glyph slot after surrogate                    
                </comment>
                <scope line="179">
                    <declaration name="code" type="int" line="180"/>
                    <scope line="181"/>
                    <scope line="183"/>
                    <scope line="188">
                        <declaration name="low" type="char" line="189"/>
                        <scope line="192"/>
                    </scope>
                    <scope line="205"/>
                </scope>
            </method>
            <method name="charsToGlyphsNS" type="boolean" line="217">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="char[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <comment line="225">
                    char is unsigned.                    
                </comment>
                <comment line="253">
                    Empty glyph slot after surrogate                    
                </comment>
                <scope line="219">
                    <declaration name="code" type="int" line="220"/>
                    <scope line="221"/>
                    <scope line="223"/>
                    <scope line="228">
                        <declaration name="low" type="char" line="229"/>
                        <scope line="232"/>
                    </scope>
                    <scope line="241"/>
                    <scope line="245"/>
                    <scope line="248"/>
                    <scope line="251"/>
                </scope>
            </method>
            <method name="hasSupplementaryChars" type="boolean" line="263"/>
        </class>
    </source>