<?xml version="1.0" encoding="UTF-8"?>
    <source package="sun.font">
        <class name="Type1GlyphMapper" line="2">
            <extends class="CharToGlyphMapper"/>
            <declaration name="font" type="Type1Font" line="3"/>
            <declaration name="scaler" type="FontScaler" line="4"/>
            <method name="Type1GlyphMapper" type="constructor" line="5">
                <params>
                    <param name="font" type="Type1Font"/>
                </params>
            </method>
            <method name="initMapper" type="void" line="9">
                <scope line="11"/>
                <scope line="14">
                    <scope line="16"/>
                    <scope line="19"/>
                </scope>
            </method>
            <method name="getNumGlyphs" type="int" line="24">
                <scope line="25"/>
                <scope line="28"/>
            </method>
            <method name="getMissingGlyphCode" type="int" line="33"/>
            <method name="canDisplay" type="boolean" line="36">
                <params>
                    <param name="ch" type="char"/>
                </params>
                <scope line="37"/>
                <scope line="40"/>
            </method>
            <method name="charToGlyph" type="int" line="45">
                <params>
                    <param name="ch" type="char"/>
                </params>
                <scope line="46"/>
                <scope line="49"/>
            </method>
            <method name="charToGlyph" type="int" line="54">
                <params>
                    <param name="ch" type="int"/>
                </params>
                <scope line="55"/>
                <scope line="58">
                    <scope line="59"/>
                    <scope line="62"/>
                </scope>
            </method>
            <method name="charsToGlyphs" type="void" line="68">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="char[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <scope line="69">
                    <declaration name="code" type="int" line="70"/>
                    <scope line="71">
                        <declaration name="low" type="char" line="72"/>
                        <scope line="73"/>
                    </scope>
                    <scope line="79"/>
                </scope>
            </method>
            <method name="charsToGlyphs" type="void" line="84">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="int[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <scope line="85"/>
            </method>
            <method name="charsToGlyphsNS" type="boolean" line="89">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="char[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <scope line="90">
                    <declaration name="code" type="int" line="91"/>
                    <scope line="92">
                        <declaration name="low" type="char" line="93"/>
                        <scope line="94"/>
                    </scope>
                    <scope line="100"/>
                    <scope line="103"/>
                    <scope line="106"/>
                </scope>
            </method>
        </class>
    </source>