<?xml version="1.0" encoding="UTF-8"?>
    <source package="sun.font">
        <class name="Type1GlyphMapper" line="34">
            <extends class="CharToGlyphMapper"/>
            <comment line="140">
                This variant checks if shaping is needed and immediately
                 returns true if it does. A caller of this method should be expecting
                 to check the return type because it needs to know how to handle
                 the character data for display.                
            </comment>
            <declaration name="font" type="Type1Font" line="36"/>
            <declaration name="scaler" type="FontScaler" line="37"/>
            <method name="Type1GlyphMapper" type="constructor" line="39">
                <params>
                    <param name="font" type="Type1Font"/>
                </params>
            </method>
            <method name="initMapper" type="void" line="44">
                <comment line="53">
                    should not happen                    
                </comment>
                <scope line="46"/>
                <scope line="48">
                    <scope line="50"/>
                    <scope line="52"/>
                </scope>
            </method>
            <method name="getNumGlyphs" type="int" line="58">
                <scope line="59"/>
                <scope line="61"/>
            </method>
            <method name="getMissingGlyphCode" type="int" line="67"/>
            <method name="canDisplay" type="boolean" line="71">
                <params>
                    <param name="ch" type="char"/>
                </params>
                <scope line="72"/>
                <scope line="74"/>
            </method>
            <method name="charToGlyph" type="int" line="80">
                <params>
                    <param name="ch" type="char"/>
                </params>
                <scope line="81"/>
                <scope line="83"/>
            </method>
            <method name="charToGlyph" type="int" line="89">
                <params>
                    <param name="ch" type="int"/>
                </params>
                <scope line="90"/>
                <scope line="92">
                    <scope line="93"/>
                    <scope line="95"/>
                </scope>
            </method>
            <method name="charsToGlyphs" type="void" line="102">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="char[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <comment line="104">
                    The conversion into surrogates is misleading.
                     The Type1 glyph mapper only accepts 16 bit unsigned shorts.
                     If its &gt; not in the range it can use assign the missing glyph.                    
                </comment>
                <comment line="109">
                    char is unsigned.                    
                </comment>
                <comment line="119">
                    invisible glyph                    
                </comment>
                <comment line="124">
                    Empty glyph slot after surrogate                    
                </comment>
                <scope line="107">
                    <declaration name="code" type="int" line="108"/>
                    <scope line="111">
                        <declaration name="low" type="char" line="112"/>
                        <scope line="115"/>
                    </scope>
                    <scope line="122"/>
                </scope>
            </method>
            <method name="charsToGlyphs" type="void" line="128">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="int[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <comment line="130">
                    I believe this code path is never exercised. Its there mainly
                     for surrogates andor the opentype engine which aren&apos;t likely
                     to be an issue for Type1 fonts. So no need to optimise it.                    
                </comment>
                <scope line="133"/>
            </method>
            <method name="charsToGlyphsNS" type="boolean" line="144">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="char[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <comment line="148">
                    char is unsigned.                    
                </comment>
                <comment line="171">
                    Empty glyph slot after surrogate                    
                </comment>
                <scope line="146">
                    <declaration name="code" type="int" line="147"/>
                    <scope line="150">
                        <declaration name="low" type="char" line="151"/>
                        <scope line="154"/>
                    </scope>
                    <scope line="163"/>
                    <scope line="166"/>
                    <scope line="169"/>
                </scope>
            </method>
        </class>
    </source>