<?xml version="1.0" encoding="UTF-8"?>
    <source package="javax.swing.tree">
        <import package="javax.swing.tree.TreePath"/>
        <interface name="RowMapper">
            <javadoc line="3">
                Defines the requirements for an object that translates paths in
                  the tree into display rows.                
                <author>
                    Scott Violet                    
                </author>
            </javadoc>
            <method name="getRowsForPaths" type="int[]" line="9"/>
            <javadoc line="9">
                Returns the rows that the TreePath instances in &lt;code&gt;path&lt;/code&gt;
                  are being displayed at. The receiver should return an array of
                  the same length as that passed in, and if one of the TreePaths
                  in &lt;code&gt;path&lt;/code&gt; is not valid its entry in the array should
                  be set to -1.                
            </javadoc>
        </interface>
    </source>