<?xml version="1.0" encoding="UTF-8"?>
    <source package="sun.security.krb5">
        <import package="java.io.File"/>
        <import package="java.io.FileInputStream"/>
        <import package="java.util.Hashtable"/>
        <import package="java.util.Vector"/>
        <import package="java.util.ArrayList"/>
        <import package="java.io.BufferedReader"/>
        <import package="java.io.InputStreamReader"/>
        <import package="java.io.IOException"/>
        <import package="java.util.Enumeration"/>
        <import package="java.util.StringTokenizer"/>
        <import package="java.net.InetAddress"/>
        <import package="java.net.UnknownHostException"/>
        <import package="java.util.List"/>
        <import package="sun.net.dns.ResolverConfiguration"/>
        <import package="sun.security.krb5.internal.crypto.EType"/>
        <import package="sun.security.krb5.internal.ktab"/>
        <import package="sun.security.krb5.internal.Krb5"/>
        <class name="Config" line="51">
            <comment line="59">
                Only allow a single instance of Config.                
            </comment>
            <comment line="64">
                Hashtable used to store configuration infomation.                
            </comment>
            <comment line="71">
                these are used for hexdecimal calculation.                
            </comment>
            <comment line="83">
                used for native interface                
            </comment>
            <comment line="1061">
                Check if need to use DNS to locate the Realm                
            </comment>
            <javadoc line="51">
                This class maintains key-value pairs of Kerberos configurable constants
                  from configuration file or from user specified system properties.                
            </javadoc>
            <declaration name="singleton" type="Config" line="61"/>
            <declaration name="stanzaTable" type="Hashtable&lt;String,Object&gt;" line="66"/>
            <declaration name="DEBUG" type="boolean" line="68"/>
            <declaration name="BASE16_0" type="int" line="71"/>
            <declaration name="BASE16_1" type="int" line="72"/>
            <declaration name="BASE16_2" type="int" line="73"/>
            <declaration name="BASE16_3" type="int" line="74"/>
            <declaration name="defaultRealm" type="String" line="76"/>
            <javadoc line="76">
                Specified by system properties. Must be both null or non-null.                
            </javadoc>
            <declaration name="defaultKDC" type="String" line="80"/>
            <method name="getWindowsDirectory" type="String" line="83"/>
            <javadoc line="86">
                Gets an instance of Config class. One and only one instance (the
                  singleton) is returned.                
                <exception>
                    KrbException if error occurs when constructing a Config
                      instance. Possible causes would be either of java.security.krb5.realm or
                      java.security.krb5.kdc not specified, error reading configuration file.                    
                </exception>
            </javadoc>
            <method name="getInstance" type="Config" line="94">
                <scope line="95"/>
            </method>
            <javadoc line="101">
                Refresh and reload the Configuration. This could involve,
                  for example reading the Configuration file again or getting
                  the java.security.krb5. system properties again.                
                <exception>
                    KrbException if error occurs when constructing a Config
                      instance. Possible causes would be either of java.security.krb5.realm or
                      java.security.krb5.kdc not specified, error reading configuration file.                    
                </exception>
            </javadoc>
            <method name="refresh" type="void" line="111"/>
            <javadoc line="117">
                Private constructor - can not be instantiated externally.                
            </javadoc>
            <method name="Config" type="constructor" line="120">
                <comment line="122">
                    If either one system property is specified, we throw exception.                    
                </comment>
                <comment line="130">
                    The user can specify a list of kdc hosts separated by &quot;:&quot;                    
                </comment>
                <comment line="147">
                    Always read the Kerberos configuration file                    
                </comment>
                <comment line="153">
                    No krb5.conf, no problem. We&apos;ll use DNS or system property etc.                    
                </comment>
                <declaration name="tmp" type="String" line="124"/>
                <scope line="128"/>
                <scope line="131"/>
                <scope line="139"/>
                <scope line="147">
                    <declaration name="configFile" type="Vector&lt;String&gt;" line="148"/>
                </scope>
                <scope line="151"/>
            </method>
            <javadoc line="156">
                Gets the default int value for the specified name.                
                <param>
                    name the name.                    
                </param>
                <return>
                    the default Integer, null is returned if no such name and
                      value are found in configuration file, or error occurs when parsing
                      string to integer.                    
                </return>
            </javadoc>
            <method name="getDefaultIntValue" type="int" line="163">
                <params>
                    <param name="name" type="String"/>
                </params>
                <declaration name="result" type="String" line="164"/>
                <declaration name="value" type="int" line="165"/>
                <scope line="167">
                    <scope line="168"/>
                    <scope line="170">
                        <scope line="171"/>
                    </scope>
                </scope>
            </method>
            <javadoc line="184">
                Gets the default int value for the specified name in the specified
                  section. &lt;br&gt;This method is quicker by using section name as the
                  search key.                
                <param>
                    name the name.                    
                </param>
                <param>
                    sectio the name string of the section.                    
                </param>
                <return>
                    the default Integer, null is returned if no such name and
                      value are found in configuration file, or error occurs when parsing
                      string to integer.                    
                </return>
            </javadoc>
            <method name="getDefaultIntValue" type="int" line="194">
                <params>
                    <param name="name" type="String"/>
                    <param name="section" type="String"/>
                </params>
                <declaration name="result" type="String" line="195"/>
                <declaration name="value" type="int" line="196"/>
                <scope line="198">
                    <scope line="199"/>
                    <scope line="201">
                        <scope line="202"/>
                    </scope>
                </scope>
            </method>
            <javadoc line="215">
                Gets the default string value for the specified name.                
                <param>
                    name the name.                    
                </param>
                <return>
                    the default value, null is returned if it cannot be found.                    
                </return>
            </javadoc>
            <method name="getDefault" type="String" line="220">
                <params>
                    <param name="name" type="String"/>
                </params>
                <scope line="221"/>
                <scope line="223"/>
            </method>
            <javadoc line="228">
                This method does the real job to recursively search through the
                  stanzaTable.                
                <param>
                    k the key string.                    
                </param>
                <param>
                    t stanzaTable or sub hashtable within it.                    
                </param>
                <return>
                    the value found in config file, returns null if no value
                      matched with the key is found.                    
                </return>
            </javadoc>
            <method name="getDefault" type="String" line="236">
                <params>
                    <param name="k" type="String"/>
                    <param name="t" type="Hashtable"/>
                </params>
                <declaration name="result" type="String" line="237"/>
                <declaration name="key" type="String" line="238"/>
                <scope line="239">
                    <scope line="240">
                        <declaration name="ob" type="Object" line="242"/>
                        <scope line="243">
                            <scope line="245"/>
                        </scope>
                        <scope line="248">
                            <scope line="249"/>
                            <scope line="251">
                                <declaration name="length" type="int" line="253"/>
                                <scope line="254">
                                    <scope line="255"/>
                                    <scope line="258"/>
                                </scope>
                            </scope>
                        </scope>
                    </scope>
                </scope>
            </method>
            <javadoc line="271">
                Gets the default string value for the specified name in the
                  specified section.
                  &lt;br&gt;This method is quicker by using the section name as the search key.                
                <param>
                    name the name.                    
                </param>
                <param>
                    section the name of the section.                    
                </param>
                <return>
                    the default value, null is returned if it cannot be found.                    
                </return>
            </javadoc>
            <method name="getDefault" type="String" line="279">
                <params>
                    <param name="name" type="String"/>
                    <param name="section" type="String"/>
                </params>
                <declaration name="stanzaName" type="String" line="280"/>
                <declaration name="result" type="String" line="281"/>
                <declaration name="subTable" type="Hashtable" line="282"/>
                <scope line="284">
                    <scope line="285">
                        <scope line="288">
                            <scope line="289"/>
                        </scope>
                        <scope line="292">
                            <declaration name="ob" type="Object" line="293"/>
                            <scope line="294">
                                <declaration name="temp" type="Hashtable" line="295"/>
                                <scope line="296">
                                    <declaration name="object" type="Object" line="297"/>
                                    <scope line="298">
                                        <declaration name="length" type="int" line="300"/>
                                        <scope line="301">
                                            <scope line="302"/>
                                            <scope line="305"/>
                                        </scope>
                                    </scope>
                                    <scope line="311"/>
                                </scope>
                            </scope>
                        </scope>
                    </scope>
                </scope>
            </method>
            <javadoc line="322">
                Gets the default boolean value for the specified name.                
                <param>
                    name the name.                    
                </param>
                <return>
                    the default boolean value, false is returned if it cannot be
                      found.                    
                </return>
            </javadoc>
            <method name="getDefaultBooleanValue" type="boolean" line="328">
                <params>
                    <param name="name" type="String"/>
                </params>
                <declaration name="val" type="String" line="329"/>
                <scope line="330"/>
                <scope line="332"/>
                <scope line="335"/>
                <scope line="337"/>
            </method>
            <javadoc line="342">
                Gets the default boolean value for the specified name in the
                  specified section.
                  &lt;br&gt;This method is quicker by using the section name as the search key.                
                <param>
                    name the name.                    
                </param>
                <param>
                    section the name of the section.                    
                </param>
                <return>
                    the default boolean value, false is returned if it cannot be
                      found.                    
                </return>
            </javadoc>
            <method name="getDefaultBooleanValue" type="boolean" line="351">
                <params>
                    <param name="name" type="String"/>
                    <param name="section" type="String"/>
                </params>
                <declaration name="val" type="String" line="352"/>
                <scope line="353"/>
                <scope line="355"/>
            </method>
            <javadoc line="360">
                Parses a string to an integer. The convertible strings include the
                  string representations of positive integers, negative integers, and
                  hex decimal integers.  Valid inputs are, e.g., -1234, +1234,
                  0x40000.                
                <param>
                    input the String to be converted to an Integer.                    
                </param>
                <return>
                    an numeric value represented by the string                    
                </return>
                <exception>
                    NumberFormationException if the String does not contain a
                      parsable integer.                    
                </exception>
            </javadoc>
            <method name="parseIntValue" type="int" line="371">
                <params>
                    <param name="input" type="String"/>
                </params>
                <declaration name="value" type="int" line="372"/>
                <scope line="373">
                    <declaration name="temp" type="String" line="374"/>
                </scope>
                <scope line="376">
                    <declaration name="temp" type="String" line="377"/>
                    <declaration name="chars" type="char[]" line="378"/>
                    <scope line="379"/>
                    <scope line="381">
                        <scope line="382">
                            <declaration name="index" type="int" line="383"/>
                        </scope>
                    </scope>
                    <scope line="444"/>
                </scope>
                <scope line="447"/>
            </method>
            <method name="getBase" type="int" line="453">
                <params>
                    <param name="i" type="int"/>
                </params>
                <declaration name="result" type="int" line="454"/>
                <scope line="469"/>
            </method>
            <javadoc line="476">
                Finds the matching value in the hashtable.                
            </javadoc>
            <method name="find" type="String" line="479">
                <params>
                    <param name="key1" type="String"/>
                    <param name="key2" type="String"/>
                </params>
                <declaration name="result" type="String" line="480"/>
                <scope line="483"/>
                <scope line="485"/>
            </method>
            <javadoc line="490">
                Reads name/value pairs to the memory from the configuration
                  file. The default location of the configuration file is in java home
                  directory.
                  Configuration file contains information about the default realm,
                  ticket parameters, location of the KDC and the admin server for
                  known realms, etc. The file is divided into sections. Each section
                  contains one or more name/value pairs with one pair per line. A
                  typical file would be:
                  [libdefaults]
                  default_realm = EXAMPLE.COM
                  default_tgs_enctypes = des-cbc-md5
                  default_tkt_enctypes = des-cbc-md5
                  [realms]
                  EXAMPLE.COM = {
                  kdc = kerberos.example.com
                  kdc = kerberos-1.example.com
                  admin_server = kerberos.example.com
                  }
                  SAMPLE_COM = {
                  kdc = orange.sample.com
                  admin_server = orange.sample.com
                  }
                  [domain_realm]
                  blue.sample.com = TEST.SAMPLE.COM
                  .backup.com     = EXAMPLE.COM                
            </javadoc>
            <method name="loadConfigFile" type="Vector<String>" line="518">
                <comment line="534">
                    ignore comments and blank line in the configuration file.
                     Comments start with #.                    
                </comment>
                <comment line="538">
                    In practice, a subsection might look like:
                          EXAMPLE.COM =
                          {
                                  kdc = kerberos.example.com
                                  ...
                          }
                     Before parsed into stanza table, it needs to be
                     converted into formal style:
                          EXAMPLE.COM = {
                                  kdc = kerberos.example.com
                                  ...
                          }
                    
                     So, if a line is &quot;{&quot;, adhere to the previous line.                    
                </comment>
                <scope line="519">
                    <declaration name="fileName" type="String" line="520"/>
                    <scope line="521">
                        <anonymous_class line="524">
                            <method name="run" type="FileInputStream" line="525"/>
                        </anonymous_class>
                        <declaration name="br" type="BufferedReader" line="522"/>
                        <declaration name="Line" type="String" line="529"/>
                        <declaration name="v" type="Vector&lt;String&gt;" line="530"/>
                        <declaration name="previous" type="String" line="531"/>
                        <scope line="532">
                            <scope line="535">
                                <declaration name="current" type="String" line="536"/>
                                <scope line="551">
                                    <scope line="552"/>
                                </scope>
                                <scope line="557">
                                    <scope line="558"/>
                                </scope>
                            </scope>
                        </scope>
                        <scope line="565"/>
                    </scope>
                </scope>
                <scope line="573"/>
            </method>
            <javadoc line="579">
                Parses stanza names and values from configuration file to
                  stanzaTable (Hashtable). Hashtable key would be stanza names,
                  (libdefaults, realms, domain_realms, etc), and the hashtable value
                  would be another hashtable which contains the key-value pairs under
                  a stanza name.                
            </javadoc>
            <method name="parseStanzaTable" type="Hashtable<String,Object>" line="586">
                <params>
                    <param name="v" type="Vector<String>"/>
                </params>
                <comment line="597">
                    find the next stanza name                    
                </comment>
                <comment line="610">
                    find the next stanza name                    
                </comment>
                <comment line="624">
                    find the next stanza name                    
                </comment>
                <scope line="587"/>
                <declaration name="table" type="Hashtable&lt;String,Object&gt;" line="591"/>
                <scope line="592">
                    <declaration name="line" type="String" line="593"/>
                    <scope line="594">
                        <scope line="595">
                            <scope line="598">
                                <declaration name="temp" type="Hashtable&lt;String,Hashtable&lt;String,Vector&lt;String&gt;&gt;&gt;" line="599"/>
                            </scope>
                        </scope>
                    </scope>
                    <scope line="607">
                        <scope line="608">
                            <scope line="611">
                                <declaration name="temp" type="Hashtable&lt;String,Hashtable&lt;String,Vector&lt;String&gt;&gt;&gt;" line="612"/>
                            </scope>
                        </scope>
                    </scope>
                    <scope line="620">
                        <declaration name="key" type="String" line="621"/>
                        <scope line="622">
                            <scope line="625">
                                <declaration name="temp" type="Hashtable&lt;String,String&gt;" line="626"/>
                            </scope>
                        </scope>
                    </scope>
                </scope>
            </method>
            <javadoc line="638">
                Gets the default configuration file name. This method will never
                  return null.
                  If the system property &quot;java.security.krb5.conf&quot; is defined, we&apos;ll
                  use its value, no matter if the file exists or not. Otherwise,
                  the file will be searched in a list of possible loations in the
                  following order:
                  1. at Java home lib\security directory with &quot;krb5.conf&quot; name,
                  2. at windows directory with the name of &quot;krb5.ini&quot; for Windows,
                  /etc/krb5/krb5.conf for Solaris, /etc/krb5.conf otherwise.
                  Note: When the Terminal Service is started in Windows (from 2003),
                  there are two kinds of Windows directories: A system one (say,
                  C:\Windows), and a user-private one (say, C:\Users\Me\Windows).
                  We will first look for krb5.ini in the user-private one. If not
                  found, try the system one instead.                
            </javadoc>
            <method name="getFileName" type="String" line="657">
                <comment line="678">
                    ignore exceptions                    
                </comment>
                <declaration name="name" type="String" line="658"/>
                <scope line="662">
                    <scope line="668">
                        <declaration name="osname" type="String" line="670"/>
                        <scope line="673">
                            <scope line="674"/>
                            <scope line="676"/>
                            <scope line="679">
                                <declaration name="path" type="String" line="680"/>
                                <scope line="681">
                                    <scope line="682"/>
                                    <scope line="684"/>
                                    <scope line="687"/>
                                </scope>
                                <scope line="691">
                                    <scope line="693">
                                        <scope line="694"/>
                                        <scope line="696"/>
                                    </scope>
                                </scope>
                            </scope>
                            <scope line="703"/>
                        </scope>
                        <scope line="706"/>
                        <scope line="708"/>
                    </scope>
                </scope>
                <scope line="713"/>
            </method>
            <method name="trimmed" type="String" line="719">
                <params>
                    <param name="s" type="String"/>
                </params>
                <scope line="722"/>
            </method>
            <javadoc line="727">
                Parses key-value pairs under a stanza name.                
            </javadoc>
            <method name="parseField" type="Hashtable<String,String>" line="730">
                <params>
                    <param name="v" type="Vector<String>"/>
                    <param name="start" type="int"/>
                    <param name="end" type="int"/>
                </params>
                <declaration name="table" type="Hashtable&lt;String,String&gt;" line="731"/>
                <declaration name="line" type="String" line="732"/>
                <scope line="733">
                    <scope line="735">
                        <scope line="736">
                            <declaration name="key" type="String" line="737"/>
                            <declaration name="value" type="String" line="738"/>
                        </scope>
                    </scope>
                </scope>
            </method>
            <javadoc line="747">
                Parses key-value pairs under [realms].  The key would be the realm
                  name, the value would be another hashtable which contains
                  information for the realm given within a pair of braces.                
            </javadoc>
            <method name="parseRealmField" type="Hashtable<String,Hashtable<String,Vector<String>>>" line="752">
                <params>
                    <param name="v" type="Vector<String>"/>
                    <param name="start" type="int"/>
                    <param name="end" type="int"/>
                </params>
                <comment line="763">
                    get the key                    
                </comment>
                <declaration name="table" type="Hashtable&lt;String,Hashtable&lt;String,Vector&lt;String&gt;&gt;&gt;" line="753"/>
                <declaration name="line" type="String" line="754"/>
                <scope line="755">
                    <scope line="757">
                        <declaration name="key" type="String" line="758"/>
                        <scope line="759">
                            <scope line="760"/>
                        </scope>
                        <scope line="766">
                            <declaration name="found" type="boolean" line="767"/>
                            <scope line="769">
                                <scope line="770"/>
                            </scope>
                            <scope line="775">
                                <declaration name="temp" type="Hashtable&lt;String,Vector&lt;String&gt;&gt;" line="776"/>
                            </scope>
                        </scope>
                    </scope>
                </scope>
            </method>
            <javadoc line="789">
                Parses key-value pairs within each braces under [realms].                
            </javadoc>
            <method name="parseRealmFieldEx" type="Hashtable<String,Vector<String>>" line="792">
                <params>
                    <param name="v" type="Vector<String>"/>
                    <param name="start" type="int"/>
                    <param name="end" type="int"/>
                </params>
                <declaration name="table" type="Hashtable&lt;String,Vector&lt;String&gt;&gt;" line="793"/>
                <declaration name="keyVector" type="Vector&lt;String&gt;" line="794"/>
                <declaration name="nameVector" type="Vector&lt;String&gt;" line="795"/>
                <declaration name="line" type="String" line="796"/>
                <declaration name="key" type="String" line="797"/>
                <scope line="798">
                    <scope line="800">
                        <scope line="801">
                            <declaration name="index" type="int" line="802"/>
                            <scope line="804"/>
                            <scope line="807"/>
                        </scope>
                    </scope>
                </scope>
            </method>
            <javadoc line="819">
                Compares the key with the known keys to see if it exists.                
            </javadoc>
            <method name="exists" type="boolean" line="822">
                <params>
                    <param name="key" type="String"/>
                    <param name="v" type="Vector"/>
                </params>
                <declaration name="exists" type="boolean" line="823"/>
                <scope line="824">
                    <scope line="825"/>
                </scope>
            </method>
            <javadoc line="832">
                For testing purpose. This method lists all information being parsed from
                  the configuration file to the hashtable.                
            </javadoc>
            <method name="listTable" type="void" line="836"/>
            <method name="listTable" type="void" line="840">
                <params>
                    <param name="table" type="Hashtable"/>
                </params>
                <declaration name="v" type="Vector" line="841"/>
                <declaration name="key" type="String" line="842"/>
                <scope line="843">
                    <scope line="844">
                        <declaration name="object" type="Object" line="846"/>
                        <scope line="847"/>
                        <scope line="850"/>
                        <scope line="857"/>
                        <scope line="860">
                            <scope line="862"/>
                        </scope>
                    </scope>
                </scope>
                <scope line="868"/>
            </method>
            <javadoc line="873">
                Returns the default encryption types.                
            </javadoc>
            <method name="defaultEtype" type="int[]" line="877">
                <params>
                    <param name="enctypes" type="String"/>
                </params>
                <comment line="893">
                    only two delimiters are allowed to use
                     according to Kerberos DCE doc.                    
                </comment>
                <declaration name="default_enctypes" type="String" line="878"/>
                <declaration name="delim" type="String" line="880"/>
                <declaration name="st" type="StringTokenizer" line="881"/>
                <declaration name="etype" type="int[]" line="882"/>
                <scope line="883">
                    <scope line="884"/>
                </scope>
                <scope line="889">
                    <scope line="890">
                        <scope line="891"/>
                    </scope>
                    <declaration name="len" type="int" line="899"/>
                    <declaration name="ls" type="ArrayList&lt;Integer&gt;" line="900"/>
                    <declaration name="type" type="int" line="901"/>
                    <scope line="902">
                        <scope line="905"/>
                    </scope>
                    <scope line="909">
                        <scope line="910"/>
                    </scope>
                    <scope line="915">
                        <scope line="917"/>
                    </scope>
                </scope>
                <scope line="923">
                    <scope line="925"/>
                </scope>
            </method>
            <javadoc line="934">
                Get the etype and checksum value for the specified encryption and
                  checksum type.                
            </javadoc>
            <method name="getType" type="int" line="944">
                <params>
                    <param name="input" type="String"/>
                </params>
                <comment line="940">
                    This method converts the string representation of encryption type and
                     checksum type to int value that can be later used by EType and
                     Checksum classes.                    
                </comment>
                <comment line="968">
                    AES                    
                </comment>
                <comment line="975">
                    ARCFOUR-HMAC                    
                </comment>
                <comment line="980">
                    RC4-HMAC                    
                </comment>
                <declaration name="result" type="int" line="945"/>
                <scope line="946"/>
                <scope line="949">
                    <scope line="950"/>
                    <scope line="952"/>
                    <scope line="954"/>
                    <scope line="956"/>
                    <scope line="958"/>
                    <scope line="963"/>
                </scope>
                <scope line="966">
                    <scope line="969"/>
                    <scope line="972"/>
                    <scope line="976"/>
                </scope>
                <scope line="980"/>
                <scope line="982"/>
                <scope line="984">
                    <scope line="985"/>
                    <scope line="987"/>
                </scope>
                <scope line="990"/>
                <scope line="992"/>
                <scope line="994"/>
                <scope line="998"/>
                <scope line="1000"/>
            </method>
            <javadoc line="1007">
                Resets the default kdc realm.
                  We do not need to synchronize these methods since assignments are atomic
                  This method was useless. Kept here in case some class still calls it.                
            </javadoc>
            <method name="resetDefaultRealm" type="void" line="1013">
                <params>
                    <param name="realm" type="String"/>
                </params>
                <scope line="1014"/>
            </method>
            <javadoc line="1019">
                Check to use addresses in tickets
                  use addresses if &quot;no_addresses&quot; or &quot;noaddresses&quot; is set to false                
            </javadoc>
            <method name="useAddresses" type="boolean" line="1023">
                <comment line="1026">
                    use addresses if &quot;no_addresses&quot; is set to false                    
                </comment>
                <comment line="1030">
                    use addresses if &quot;noaddresses&quot; is set to false                    
                </comment>
                <declaration name="useAddr" type="boolean" line="1024"/>
                <declaration name="value" type="String" line="1026"/>
                <scope line="1028"/>
            </method>
            <javadoc line="1036">
                Check if need to use DNS to locate Kerberos services                
            </javadoc>
            <method name="useDNS" type="boolean" line="1039">
                <params>
                    <param name="name" type="String"/>
                </params>
                <declaration name="value" type="String" line="1040"/>
                <scope line="1041">
                    <scope line="1043"/>
                    <scope line="1045"/>
                </scope>
                <scope line="1048"/>
            </method>
            <javadoc line="1053">
                Check if need to use DNS to locate the KDC                
            </javadoc>
            <method name="useDNS_KDC" type="boolean" line="1056"/>
            <method name="useDNS_Realm" type="boolean" line="1063"/>
            <javadoc line="1067">
                Gets default realm.                
                <throws>
                    KrbException where no realm can be located                    
                </throws>
                <return>
                    the default realm, always non null                    
                </return>
            </javadoc>
            <method name="getDefaultRealm" type="String" line="1072">
                <comment line="1080">
                    use DNS to locate Kerberos realm                    
                </comment>
                <scope line="1073"/>
                <declaration name="cause" type="Exception" line="1076"/>
                <declaration name="realm" type="String" line="1077"/>
                <scope line="1078">
                    <scope line="1080"/>
                    <scope line="1082"/>
                </scope>
                <scope line="1086">
                    <anonymous_class line="1088">
                        <method name="run" type="String" line="1090">
                            <declaration name="osname" type="String" line="1091"/>
                            <scope line="1092"/>
                        </method>
                    </anonymous_class>
                </scope>
                <scope line="1099">
                    <declaration name="ke" type="KrbException" line="1100"/>
                    <scope line="1101"/>
                </scope>
            </method>
            <javadoc line="1109">
                Returns a list of KDC&apos;s with each KDC separated by a space                
                <param>
                    realm the realm for which the KDC list is desired                    
                </param>
                <throws>
                    KrbException if there&apos;s no way to find KDC for the realm                    
                </throws>
                <return>
                    the list of KDCs separated by a space, always non null                    
                </return>
            </javadoc>
            <method name="getKDCList" type="String" line="1116">
                <params>
                    <param name="realm" type="String"/>
                </params>
                <comment line="1127">
                    use DNS to locate KDC                    
                </comment>
                <scope line="1117"/>
                <scope line="1120"/>
                <declaration name="cause" type="Exception" line="1123"/>
                <declaration name="kdcs" type="String" line="1124"/>
                <scope line="1125">
                    <scope line="1127"/>
                    <scope line="1129"/>
                </scope>
                <scope line="1133">
                    <anonymous_class line="1135">
                        <method name="run" type="String" line="1137">
                            <declaration name="osname" type="String" line="1138"/>
                            <scope line="1139">
                                <declaration name="logonServer" type="String" line="1140"/>
                                <scope line="1142"/>
                            </scope>
                        </method>
                    </anonymous_class>
                </scope>
                <scope line="1151">
                    <scope line="1152"/>
                    <declaration name="ke" type="KrbException" line="1155"/>
                    <scope line="1156"/>
                </scope>
            </method>
            <javadoc line="1164">
                Locate Kerberos realm using DNS                
                <return>
                    the Kerberos realm                    
                </return>
            </javadoc>
            <method name="getRealmFromDNS" type="String" line="1169">
                <comment line="1171">
                    use DNS to locate Kerberos realm                    
                </comment>
                <comment line="1182">
                    get the domain realm mapping from the configuration                    
                </comment>
                <comment line="1185">
                    No match. Try search and/or domain in /etc/resolv.conf                    
                </comment>
                <declaration name="realm" type="String" line="1171"/>
                <declaration name="hostName" type="String" line="1172"/>
                <scope line="1173"/>
                <scope line="1175">
                    <declaration name="ke" type="KrbException" line="1176"/>
                </scope>
                <declaration name="mapRealm" type="String" line="1182"/>
                <scope line="1183">
                    <declaration name="srchlist" type="List&lt;String&gt;" line="1185"/>
                    <scope line="1186">
                        <scope line="1188"/>
                    </scope>
                </scope>
                <scope line="1192"/>
                <scope line="1195"/>
            </method>
            <javadoc line="1202">
                Check if the provided realm is the correct realm                
                <return>
                    the realm if correct, or null otherwise                    
                </return>
            </javadoc>
            <method name="checkRealm" type="String" line="1206">
                <params>
                    <param name="mapRealm" type="String"/>
                </params>
                <comment line="1214">
                    locate DNS TXT record                    
                </comment>
                <comment line="1217">
                    if no DNS TXT records found, try again using sub-realm                    
                </comment>
                <scope line="1207"/>
                <declaration name="records" type="String[]" line="1210"/>
                <declaration name="newRealm" type="String" line="1211"/>
                <scope line="1212"/>
                <scope line="1218">
                    <scope line="1219">
                        <scope line="1220"/>
                    </scope>
                </scope>
            </method>
            <javadoc line="1228">
                Locate KDC using DNS                
                <param>
                    realm the realm for which the master KDC is desired                    
                </param>
                <return>
                    the KDC                    
                </return>
            </javadoc>
            <method name="getKDCFromDNS" type="String" line="1234">
                <params>
                    <param name="realm" type="String"/>
                </params>
                <comment line="1236">
                    use DNS to locate KDC                    
                </comment>
                <comment line="1239">
                    locate DNS SRV record using UDP                    
                </comment>
                <comment line="1245">
                    locate DNS SRV record using TCP                    
                </comment>
                <comment line="1252">
                    no DNS SRV records                    
                </comment>
                <comment line="1259">
                    filter the KDC name                    
                </comment>
                <declaration name="kdcs" type="String" line="1236"/>
                <declaration name="srvs" type="String[]" line="1237"/>
                <scope line="1239"/>
                <scope line="1243">
                    <scope line="1245"/>
                </scope>
                <scope line="1250"/>
                <scope line="1255">
                    <declaration name="value" type="String" line="1256"/>
                    <scope line="1257">
                        <scope line="1259"/>
                    </scope>
                </scope>
            </method>
            <method name="fileExists" type="boolean" line="1267">
                <params>
                    <param name="name" type="String"/>
                </params>
            </method>
            <class name="FileExistsAction" line="1272">
                <comment line="940">
                    This method converts the string representation of encryption type and
                     checksum type to int value that can be later used by EType and
                     Checksum classes.                    
                </comment>
                <implements interface="java.security.PrivilegedAction">
                    <type_params>
                        <type_param name="Boolean"/>
                    </type_params>
                </implements>
                <declaration name="fileName" type="String" line="1275"/>
                <method name="FileExistsAction" type="constructor" line="1277">
                    <params>
                        <param name="fileName" type="String"/>
                    </params>
                </method>
                <method name="run" type="Boolean" line="1281"/>
            </class>
            <method name="toString" type="String" line="1287">
                <declaration name="sb" type="StringBuffer" line="1288"/>
            </method>
            <method name="toStringIndented" type="void" line="1293">
                <params>
                    <param name="prefix" type="String"/>
                    <param name="obj" type="Object"/>
                    <param name="sb" type="StringBuffer"/>
                </params>
                <scope line="1294"/>
                <scope line="1298">
                    <declaration name="tab" type="Hashtable" line="1299"/>
                    <scope line="1300"/>
                </scope>
                <scope line="1307">
                    <declaration name="v" type="Vector" line="1308"/>
                    <scope line="1309"/>
                </scope>
            </method>
        </class>
    </source>