<?xml version="1.0" encoding="UTF-8"?>
    <source package="sun.misc">
        <import package="java.net.URL"/>
        <import package="java.io.File"/>
        <import package="sun.net.www.ParseUtil"/>
        <class name="FileURLMapper" line="32">
            <javadoc line="32">
                (Windows) Platform specific handling for file: URLs . In particular deals
                  with network paths mapping them to UNCs.                
                <author>
                    Michael McMahon                    
                </author>
            </javadoc>
            <declaration name="url" type="URL" line="41"/>
            <declaration name="file" type="String" line="42"/>
            <method name="FileURLMapper" type="constructor" line="44">
                <params>
                    <param name="url" type="URL"/>
                </params>
            </method>
            <javadoc line="48">
                @returns the platform specific path corresponding to the URL, and in particular
                  returns a UNC when the authority contains a hostname                
            </javadoc>
            <method name="getPath" type="String" line="53">
                <scope line="54"/>
                <declaration name="host" type="String" line="57"/>
                <scope line="59">
                    <declaration name="rest" type="String" line="60"/>
                    <declaration name="s" type="String" line="61"/>
                </scope>
                <declaration name="path" type="String" line="65"/>
            </method>
            <method name="exists" type="boolean" line="70">
                <declaration name="path" type="String" line="71"/>
                <declaration name="f" type="File" line="72"/>
            </method>
        </class>
    </source>