<?xml version="1.0" encoding="UTF-8"?>
    <source package="com.sun.jndi.cosnaming">
        <import package="javax.naming"/>
        <import package="javax.naming.directory"/>
        <import package="javax.naming.spi"/>
        <import package="org.omg.CosNaming"/>
        <import package="org.omg.CosNaming.NamingContextPackage"/>
        <import package="org.omg.CORBA"/>
        <class name="ExceptionMapper" line="8">
            <javadoc line="8">
                A convenience class to map the COS Naming exceptions to the JNDI exceptions.                
                <author>
                    Raj Krishnamurthy                    
                </author>
            </javadoc>
            <method name="ExceptionMapper" type="constructor" line="13"/>
            <declaration name="debug" type="boolean" line="15"/>
            <method name="mapException" type="NamingException" line="16">
                <params>
                    <param name="e" type="Exception"/>
                    <param name="ctx" type="CNCtx"/>
                    <param name="inputName" type="NameComponent[]"/>
                </params>
                <scope line="17"/>
                <scope line="20"/>
                <declaration name="ne" type="NamingException" line="23"/>
                <scope line="24">
                    <scope line="25"/>
                    <scope line="28"/>
                </scope>
                <scope line="32">
                    <declaration name="nc" type="NamingContext" line="34"/>
                    <declaration name="rest" type="NameComponent[]" line="35"/>
                    <scope line="36">
                        <declaration name="resolvedName" type="NameComponent[]" line="37"/>
                    </scope>
                    <scope line="41"/>
                </scope>
                <scope line="46"/>
                <scope line="49"/>
                <scope line="52"/>
                <scope line="55"/>
            </method>
            <method name="tryFed" type="NamingException" line="61">
                <params>
                    <param name="e" type="NotFound"/>
                    <param name="ctx" type="CNCtx"/>
                    <param name="inputName" type="NameComponent[]"/>
                </params>
                <declaration name="rest" type="NameComponent[]" line="62"/>
                <scope line="63"/>
                <scope line="67">
                    <declaration name="lastIn" type="NameComponent" line="68"/>
                    <scope line="69"/>
                    <scope line="72">
                        <declaration name="ne" type="NamingException" line="73"/>
                    </scope>
                </scope>
                <declaration name="resolvedName" type="NameComponent[]" line="79"/>
                <declaration name="len" type="int" line="80"/>
                <scope line="81">
                    <scope line="82">
                        <scope line="84"/>
                        <scope line="87">
                            <declaration name="tmp" type="NameComponent[]" line="88"/>
                        </scope>
                    </scope>
                    <scope line="93"/>
                    <scope line="96"/>
                </scope>
                <declaration name="cpe" type="CannotProceedException" line="101"/>
                <scope line="103"/>
                <scope line="107"/>
                <declaration name="resolvedObj" type="java.lang.Object" line="110"/>
                <scope line="111">
                    <anonymous_class line="112">
                        <method name="getContent" type="java.lang.Object" line="113"/>
                        <declaration name="serialVersionUID" type="long" line="116"/>
                    </anonymous_class>
                    <declaration name="addr" type="RefAddr" line="112"/>
                    <declaration name="ref" type="Reference" line="119"/>
                    <declaration name="cname" type="CompositeName" line="120"/>
                </scope>
                <scope line="127">
                    <declaration name="cname" type="Name" line="128"/>
                    <declaration name="resolvedObj2" type="java.lang.Object" line="129"/>
                    <scope line="130"/>
                    <scope line="133"/>
                    <scope line="136">
                        <declaration name="ne" type="NamingException" line="137"/>
                    </scope>
                    <scope line="141"/>
                    <scope line="144">
                        <declaration name="rf2" type="java.lang.Object" line="147"/>
                        <anonymous_class line="148">
                            <method name="getContent" type="java.lang.Object" line="149"/>
                            <declaration name="serialVersionUID" type="long" line="152"/>
                        </anonymous_class>
                        <declaration name="addr" type="RefAddr" line="148"/>
                        <declaration name="ref" type="Reference" line="155"/>
                    </scope>
                </scope>
            </method>
        </class>
    </source>