<?xml version="1.0" encoding="UTF-8"?>
<source package="org.apache.commons.math3.ode">
  <import name="java.io.Serializable" />
  <import name="org.apache.commons.math3.exception.DimensionMismatchException" />
  <class name="EquationsMapper" startLine="24">
    <implements name="Serializable" />
    <javadoc>
      <text>* Class mapping the part of a complete state or derivative that pertains
 * to a specific differential equation.
 * <p>
 * Instances of this class are guaranteed to be immutable.
 * </p></text>
      <see>SecondaryEquations</see>
      <version>$Id: EquationsMapper.java 1416643 2012-12-03 19:37:14Z tn $</version>
      <since>3.0</since>
    </javadoc>
    <javadoc>
      <text>* Serializable UID.</text>
    </javadoc>
    <declaration type="long" name="serialVersionUID" />
    <javadoc>
      <text>* Index of the first equation element in complete state arrays.</text>
    </javadoc>
    <declaration type="int" name="firstIndex" />
    <javadoc>
      <text>* Dimension of the secondary state parameters.</text>
    </javadoc>
    <declaration type="int" name="dimension" />
    <javadoc>
      <text>* simple constructor.</text>
      <param>firstIndex index of the first equation element in complete state arrays</param>
      <param>dimension dimension of the secondary state parameters</param>
    </javadoc>
    <method type="constructor" name="EquationsMapper" startLine="49" endLine="52" />
    <javadoc>
      <text>* Get the index of the first equation element in complete state arrays.</text>
      <return>index of the first equation element in complete state arrays</return>
    </javadoc>
    <method type="int" name="getFirstIndex" startLine="57" endLine="59" />
    <javadoc>
      <text>* Get the dimension of the secondary state parameters.</text>
      <return>dimension of the secondary state parameters</return>
    </javadoc>
    <method type="int" name="getDimension" startLine="64" endLine="66" />
    <javadoc>
      <text>* Extract equation data from a complete state or derivative array.</text>
      <param>complete complete state or derivative array from which
 * equation data should be retrieved</param>
      <param>equationData placeholder where to put equation data</param>
      <throws>DimensionMismatchException if the dimension of the equation data does not
 * match the mapper dimension</throws>
    </javadoc>
    <method type="void" name="extractEquationData" startLine="76" endLine="81">
      <scope startLine="77" endLine="79" />
    </method>
    <javadoc>
      <text>* Insert equation data into a complete state or derivative array.</text>
      <param>equationData equation data to be inserted into the complete array</param>
      <param>complete placeholder where to put equation data (only the
 * part corresponding to the equation will be overwritten)</param>
      <throws>DimensionMismatchException if the dimension of the equation data does not
 * match the mapper dimension</throws>
    </javadoc>
    <method type="void" name="insertEquationData" startLine="91" endLine="96">
      <scope startLine="92" endLine="94" />
    </method>
  </class>
</source>
