<?xml version="1.0" encoding="UTF-8"?>
    <source package="sun.security.pkcs11">
        <import package="java.io"/>
        <import package="java.io.StreamTokenizer"/>
        <import package="java.math.BigInteger"/>
        <import package="java.util"/>
        <import package="java.security"/>
        <import package="sun.security.action.GetPropertyAction"/>
        <import package="sun.security.util.PropertyExpander"/>
        <import package="sun.security.pkcs11.wrapper"/>
        <import package="sun.security.pkcs11.wrapper.PKCS11Constants"/>
        <import package="sun.security.pkcs11.wrapper.CK_ATTRIBUTE"/>
        <import package="sun.security.pkcs11.TemplateManager"/>
        <class name="Config" line="13">
            <javadoc line="13">
                Configuration container and file parsing.                
                <author>
                    Andreas Sterbenz                    
                </author>
                <since>
                    1.5                    
                </since>
            </javadoc>
            <declaration name="ERR_HALT" type="int" line="19"/>
            <declaration name="ERR_IGNORE_ALL" type="int" line="20"/>
            <declaration name="ERR_IGNORE_LIB" type="int" line="21"/>
            <declaration name="staticAllowSingleThreadedModules" type="boolean" line="22"/>
            <scope line="23">
                <declaration name="p" type="String" line="24"/>
                <declaration name="s" type="String" line="25"/>
                <scope line="26"/>
                <scope line="29"/>
            </scope>
            <declaration name="configMap" type="Map&lt;String,Config&gt;" line="33"/>
            <method name="getConfig" type="Config" line="34">
                <params>
                    <param name="name" type="String"/>
                    <param name="stream" type="InputStream"/>
                </params>
                <declaration name="config" type="Config" line="35"/>
                <scope line="36"/>
                <scope line="39"/>
                <scope line="44"/>
            </method>
            <method name="removeConfig" type="Config" line="48">
                <params>
                    <param name="name" type="String"/>
                </params>
            </method>
            <declaration name="DEBUG" type="boolean" line="51"/>
            <method name="debug" type="void" line="52">
                <params>
                    <param name="o" type="Object"/>
                </params>
                <scope line="53"/>
            </method>
            <declaration name="reader" type="Reader" line="57"/>
            <declaration name="st" type="StreamTokenizer" line="58"/>
            <declaration name="parsedKeywords" type="Set&lt;String&gt;" line="59"/>
            <declaration name="name" type="String" line="60"/>
            <declaration name="library" type="String" line="61"/>
            <declaration name="description" type="String" line="62"/>
            <declaration name="slotID" type="int" line="63"/>
            <declaration name="slotListIndex" type="int" line="64"/>
            <declaration name="enabledMechanisms" type="Set&lt;Long&gt;" line="65"/>
            <declaration name="disabledMechanisms" type="Set&lt;Long&gt;" line="66"/>
            <declaration name="showInfo" type="boolean" line="67"/>
            <declaration name="templateManager" type="TemplateManager" line="68"/>
            <declaration name="handleStartupErrors" type="int" line="69"/>
            <declaration name="keyStoreCompatibilityMode" type="boolean" line="70"/>
            <declaration name="explicitCancel" type="boolean" line="71"/>
            <declaration name="insertionCheckInterval" type="int" line="72"/>
            <declaration name="omitInitialize" type="boolean" line="73"/>
            <declaration name="allowSingleThreadedModules" type="boolean" line="74"/>
            <declaration name="functionList" type="String" line="75"/>
            <declaration name="nssUseSecmod" type="boolean" line="76"/>
            <declaration name="nssLibraryDirectory" type="String" line="77"/>
            <declaration name="nssSecmodDirectory" type="String" line="78"/>
            <declaration name="nssModule" type="String" line="79"/>
            <declaration name="nssDbMode" type="Secmod.DbMode" line="80"/>
            <declaration name="nssNetscapeDbWorkaround" type="boolean" line="81"/>
            <declaration name="nssArgs" type="String" line="82"/>
            <declaration name="nssUseSecmodTrust" type="boolean" line="83"/>
            <method name="Config" type="constructor" line="84">
                <params>
                    <param name="filename" type="String"/>
                    <param name="in" type="InputStream"/>
                </params>
                <scope line="85">
                    <scope line="86">
                        <declaration name="config" type="String" line="87"/>
                    </scope>
                    <scope line="90"/>
                </scope>
                <scope line="94"/>
            </method>
            <method name="getName" type="String" line="102"/>
            <method name="getLibrary" type="String" line="105"/>
            <method name="getDescription" type="String" line="108">
                <scope line="109"/>
            </method>
            <method name="getSlotID" type="int" line="114"/>
            <method name="getSlotListIndex" type="int" line="117">
                <scope line="118"/>
                <scope line="121"/>
            </method>
            <method name="getShowInfo" type="boolean" line="125"/>
            <method name="getTemplateManager" type="TemplateManager" line="128">
                <scope line="129"/>
            </method>
            <method name="isEnabled" type="boolean" line="134">
                <params>
                    <param name="m" type="long"/>
                </params>
                <scope line="135"/>
                <scope line="138"/>
            </method>
            <method name="getHandleStartupErrors" type="int" line="143"/>
            <method name="getKeyStoreCompatibilityMode" type="boolean" line="146"/>
            <method name="getExplicitCancel" type="boolean" line="149"/>
            <method name="getInsertionCheckInterval" type="int" line="152"/>
            <method name="getOmitInitialize" type="boolean" line="155"/>
            <method name="getAllowSingleThreadedModules" type="boolean" line="158"/>
            <method name="getFunctionList" type="String" line="161"/>
            <method name="getNssUseSecmod" type="boolean" line="164"/>
            <method name="getNssLibraryDirectory" type="String" line="167"/>
            <method name="getNssSecmodDirectory" type="String" line="170"/>
            <method name="getNssModule" type="String" line="173"/>
            <method name="getNssDbMode" type="Secmod.DbMode" line="176"/>
            <method name="getNssNetscapeDbWorkaround" type="boolean" line="179"/>
            <method name="getNssArgs" type="String" line="182"/>
            <method name="getNssUseSecmodTrust" type="boolean" line="185"/>
            <method name="expand" type="String" line="188">
                <params>
                    <param name="s" type="String"/>
                </params>
                <scope line="189"/>
                <scope line="192"/>
            </method>
            <method name="setupTokenizer" type="void" line="196"/>
            <method name="excToken" type="ConfigurationException" line="218">
                <params>
                    <param name="msg" type="String"/>
                </params>
            </method>
            <method name="excLine" type="ConfigurationException" line="221">
                <params>
                    <param name="msg" type="String"/>
                </params>
            </method>
            <method name="parse" type="void" line="224">
                <scope line="225">
                    <declaration name="token" type="int" line="226"/>
                    <scope line="227"/>
                    <scope line="230"/>
                    <scope line="233"/>
                    <declaration name="word" type="String" line="236"/>
                    <scope line="237"/>
                    <scope line="240"/>
                    <scope line="243"/>
                    <scope line="246"/>
                    <scope line="249"/>
                    <scope line="252"/>
                    <scope line="255"/>
                    <scope line="258"/>
                    <scope line="261"/>
                    <scope line="264">
                        <scope line="266"/>
                    </scope>
                    <scope line="270"/>
                    <scope line="273"/>
                    <scope line="276"/>
                    <scope line="279"/>
                    <scope line="282"/>
                    <scope line="285"/>
                    <scope line="288"/>
                    <scope line="291"/>
                    <scope line="295"/>
                    <scope line="299"/>
                    <scope line="303">
                        <declaration name="mode" type="String" line="304"/>
                        <scope line="305"/>
                        <scope line="308"/>
                        <scope line="311"/>
                        <scope line="314"/>
                    </scope>
                    <scope line="319"/>
                    <scope line="323"/>
                    <scope line="326"/>
                    <scope line="329"/>
                </scope>
                <scope line="338"/>
                <scope line="341">
                    <scope line="342"/>
                </scope>
                <scope line="346">
                    <scope line="347"/>
                    <scope line="350"/>
                    <scope line="353"/>
                    <scope line="356"/>
                </scope>
            </method>
            <method name="nextToken" type="int" line="361">
                <declaration name="token" type="int" line="362"/>
            </method>
            <method name="parseEquals" type="void" line="366">
                <declaration name="token" type="int" line="367"/>
                <scope line="368"/>
            </method>
            <method name="parseOpenBraces" type="void" line="372">
                <scope line="373">
                    <declaration name="token" type="int" line="374"/>
                    <scope line="375"/>
                    <scope line="378"/>
                </scope>
            </method>
            <method name="isCloseBraces" type="boolean" line="384">
                <params>
                    <param name="token" type="int"/>
                </params>
            </method>
            <method name="parseWord" type="String" line="387">
                <declaration name="token" type="int" line="388"/>
                <scope line="389"/>
            </method>
            <method name="parseStringEntry" type="String" line="394">
                <params>
                    <param name="keyword" type="String"/>
                </params>
                <declaration name="token" type="int" line="397"/>
                <scope line="398"/>
                <declaration name="value" type="String" line="401"/>
            </method>
            <method name="parseBooleanEntry" type="boolean" line="405">
                <params>
                    <param name="keyword" type="String"/>
                </params>
                <declaration name="value" type="boolean" line="408"/>
            </method>
            <method name="parseIntegerEntry" type="int" line="412">
                <params>
                    <param name="keyword" type="String"/>
                </params>
                <declaration name="value" type="int" line="415"/>
            </method>
            <method name="parseBoolean" type="boolean" line="419">
                <declaration name="val" type="String" line="420"/>
                <scope line="421"/>
                <scope line="424"/>
                <scope line="427"/>
            </method>
            <method name="parseLine" type="String" line="431">
                <declaration name="s" type="String" line="432"/>
                <scope line="433">
                    <declaration name="token" type="int" line="434"/>
                    <scope line="435"/>
                    <scope line="438"/>
                </scope>
            </method>
            <method name="decodeNumber" type="int" line="445">
                <params>
                    <param name="str" type="String"/>
                </params>
                <scope line="446">
                    <scope line="447"/>
                    <scope line="450"/>
                </scope>
                <scope line="454"/>
            </method>
            <method name="isNumber" type="boolean" line="458">
                <params>
                    <param name="s" type="String"/>
                </params>
                <scope line="459"/>
                <declaration name="ch" type="char" line="462"/>
            </method>
            <method name="parseComma" type="void" line="465">
                <declaration name="token" type="int" line="466"/>
                <scope line="467"/>
            </method>
            <method name="isByteArray" type="boolean" line="471">
                <params>
                    <param name="val" type="String"/>
                </params>
            </method>
            <method name="decodeByteArray" type="byte[]" line="474">
                <params>
                    <param name="str" type="String"/>
                </params>
                <scope line="475"/>
                <scope line="479"/>
                <scope line="482"/>
            </method>
            <method name="checkDup" type="void" line="486">
                <params>
                    <param name="keyword" type="String"/>
                </params>
                <scope line="487"/>
            </method>
            <method name="parseLibrary" type="String" line="491">
                <params>
                    <param name="keyword" type="String"/>
                </params>
                <declaration name="lib" type="String" line="494"/>
                <declaration name="i" type="int" line="496"/>
                <scope line="497">
                    <declaration name="osName" type="String" line="498"/>
                    <declaration name="osArch" type="String" line="499"/>
                    <declaration name="prefix" type="String" line="500"/>
                    <declaration name="suffix" type="String" line="501"/>
                    <scope line="502"/>
                    <scope line="505"/>
                    <scope line="508"/>
                </scope>
                <scope line="513"/>
            </method>
            <method name="parseDescription" type="void" line="518">
                <params>
                    <param name="keyword" type="String"/>
                </params>
            </method>
            <method name="parseSlotID" type="void" line="524">
                <params>
                    <param name="keyword" type="String"/>
                </params>
                <scope line="525"/>
                <scope line="528"/>
                <declaration name="slotString" type="String" line="532"/>
            </method>
            <method name="parseSlotListIndex" type="void" line="536">
                <params>
                    <param name="keyword" type="String"/>
                </params>
                <scope line="537"/>
                <scope line="540"/>
                <declaration name="slotString" type="String" line="544"/>
            </method>
            <method name="parseEnabledMechanisms" type="void" line="548">
                <params>
                    <param name="keyword" type="String"/>
                </params>
            </method>
            <method name="parseDisabledMechanisms" type="void" line="551">
                <params>
                    <param name="keyword" type="String"/>
                </params>
            </method>
            <method name="parseMechanisms" type="Set<Long>" line="554">
                <params>
                    <param name="keyword" type="String"/>
                </params>
                <declaration name="mechs" type="Set&lt;Long&gt;" line="556"/>
                <scope line="559">
                    <declaration name="token" type="int" line="560"/>
                    <scope line="561"/>
                    <scope line="564"/>
                    <scope line="567"/>
                    <declaration name="mech" type="long" line="570"/>
                </scope>
                <scope line="573">
                    <scope line="575"/>
                </scope>
            </method>
            <method name="parseMechanism" type="long" line="583">
                <params>
                    <param name="mech" type="String"/>
                </params>
                <scope line="584"/>
                <scope line="587">
                    <scope line="588"/>
                    <scope line="591"/>
                </scope>
            </method>
            <method name="parseAttributes" type="void" line="596">
                <params>
                    <param name="keyword" type="String"/>
                </params>
                <scope line="597"/>
                <declaration name="token" type="int" line="600"/>
                <scope line="601">
                    <declaration name="s" type="String" line="602"/>
                    <scope line="603"/>
                </scope>
                <scope line="609"/>
                <declaration name="op" type="String" line="612"/>
                <declaration name="objectClass" type="long" line="614"/>
                <declaration name="keyAlg" type="long" line="616"/>
                <scope line="618"/>
                <declaration name="attributes" type="List&lt;CK_ATTRIBUTE&gt;" line="623"/>
                <scope line="624">
                    <scope line="626"/>
                    <scope line="629"/>
                    <scope line="632"/>
                    <declaration name="attributeName" type="String" line="635"/>
                    <declaration name="attributeId" type="long" line="636"/>
                    <declaration name="attributeValue" type="String" line="638"/>
                </scope>
            </method>
            <method name="setCompatibilityAttributes" type="void" line="643"/>
            <declaration name="CK_A0" type="CK_ATTRIBUTE[]" line="656"/>
            <method name="parseOperation" type="String" line="657">
                <declaration name="op" type="String" line="658"/>
                <scope line="659"/>
                <scope line="662"/>
                <scope line="665"/>
                <scope line="668"/>
            </method>
            <method name="parseObjectClass" type="long" line="672">
                <declaration name="name" type="String" line="673"/>
                <scope line="674"/>
                <scope line="677"/>
            </method>
            <method name="parseKeyAlgorithm" type="long" line="681">
                <declaration name="name" type="String" line="682"/>
                <scope line="683"/>
                <scope line="686">
                    <scope line="687"/>
                    <scope line="690"/>
                </scope>
            </method>
            <method name="decodeAttributeName" type="long" line="695">
                <params>
                    <param name="name" type="String"/>
                </params>
                <scope line="696"/>
                <scope line="699">
                    <scope line="700"/>
                    <scope line="703"/>
                </scope>
            </method>
            <method name="decodeAttributeValue" type="CK_ATTRIBUTE" line="708">
                <params>
                    <param name="id" type="long"/>
                    <param name="value" type="String"/>
                </params>
                <scope line="709"/>
                <scope line="712"/>
                <scope line="715"/>
                <scope line="718"/>
                <scope line="721"/>
                <scope line="724"/>
            </method>
            <method name="parseNSSArgs" type="void" line="728">
                <params>
                    <param name="keyword" type="String"/>
                </params>
                <declaration name="token" type="int" line="731"/>
                <scope line="732"/>
            </method>
            <method name="parseHandleStartupErrors" type="void" line="738">
                <params>
                    <param name="keyword" type="String"/>
                </params>
                <declaration name="val" type="String" line="741"/>
                <scope line="742"/>
                <scope line="745"/>
                <scope line="748"/>
                <scope line="751"/>
            </method>
        </class>
        <class name="ConfigurationException" line="757">
            <extends class="IOException"/>
            <method name="ConfigurationException" type="constructor" line="758">
                <params>
                    <param name="msg" type="String"/>
                </params>
            </method>
        </class>
    </source>