<?xml version="1.0" encoding="UTF-8"?>
    <source package="sun.font">
        <import package="java.awt.FontFormatException"/>
        <import package="java.awt.font.FontRenderContext"/>
        <import package="java.awt.geom.GeneralPath"/>
        <import package="java.awt.geom.Rectangle2D"/>
        <import package="java.util.HashMap"/>
        <import package="java.util.Locale"/>
        <class name="NativeGlyphMapper" line="8">
            <extends class="CharToGlyphMapper"/>
            <declaration name="font" type="NativeFont" line="9"/>
            <declaration name="xmapper" type="XMap" line="10"/>
            <declaration name="numGlyphs" type="int" line="11"/>
            <method name="NativeGlyphMapper" type="constructor" line="12">
                <params>
                    <param name="f" type="NativeFont"/>
                </params>
            </method>
            <method name="getNumGlyphs" type="int" line="18"/>
            <method name="charToGlyph" type="int" line="21">
                <params>
                    <param name="unicode" type="char"/>
                </params>
                <scope line="22"/>
                <scope line="25"/>
            </method>
            <method name="charToGlyph" type="int" line="29">
                <params>
                    <param name="unicode" type="int"/>
                </params>
                <scope line="30"/>
                <scope line="33"/>
            </method>
            <method name="charsToGlyphs" type="void" line="37">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="char[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <scope line="38">
                    <declaration name="code" type="char" line="39"/>
                    <scope line="40"/>
                    <scope line="43"/>
                </scope>
            </method>
            <method name="charsToGlyphsNS" type="boolean" line="48">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="char[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
            </method>
            <method name="charsToGlyphs" type="void" line="52">
                <params>
                    <param name="count" type="int"/>
                    <param name="unicodes" type="int[]"/>
                    <param name="glyphs" type="int[]"/>
                </params>
                <scope line="53">
                    <declaration name="code" type="char" line="54"/>
                    <scope line="55"/>
                    <scope line="58"/>
                </scope>
            </method>
        </class>
    </source>