<?xml version="1.0" encoding="UTF-8"?>
    <source package="java.beans">
        <import package="com.sun.beans.finder.ClassFinder"/>
        <import package="java.applet.Applet"/>
        <import package="java.applet.AppletContext"/>
        <import package="java.applet.AppletStub"/>
        <import package="java.applet.AudioClip"/>
        <import package="java.awt.GraphicsEnvironment"/>
        <import package="java.awt.Image"/>
        <import package="java.beans.beancontext.BeanContext"/>
        <import package="java.io.IOException"/>
        <import package="java.io.InputStream"/>
        <import package="java.io.ObjectInputStream"/>
        <import package="java.io.ObjectStreamClass"/>
        <import package="java.io.StreamCorruptedException"/>
        <import package="java.net.URL"/>
        <import package="java.security.AccessController"/>
        <import package="java.security.PrivilegedAction"/>
        <import package="java.util.Enumeration"/>
        <import package="java.util.Hashtable"/>
        <import package="java.util.Iterator"/>
        <import package="java.util.Vector"/>
        <import package="sun.awt.AppContext"/>
        <class name="Beans" line="23">
            <javadoc line="23">
                This class provides some general purpose beans control methods.                
            </javadoc>
            <declaration name="DESIGN_TIME" type="Object" line="27"/>
            <declaration name="GUI_AVAILABLE" type="Object" line="28"/>
            <javadoc line="29">
                &lt;p&gt;
                  Instantiate a JavaBean.
                  &lt;/p&gt;                
                <param>
                    cls         the class-loader from which we should create
                      the bean.  If this is null, then the system
                      class-loader is used.                    
                </param>
                <param>
                    beanName    the name of the bean within the class-loader.
                      For example &quot;sun.beanbox.foobah&quot;                    
                </param>
                <exception>
                    ClassNotFoundException if the class of a serialized
                      object could not be found.                    
                </exception>
                <exception>
                    IOException if an I/O error occurs.                    
                </exception>
            </javadoc>
            <method name="instantiate" type="Object" line="42">
                <params>
                    <param name="cls" type="ClassLoader"/>
                    <param name="beanName" type="String"/>
                </params>
            </method>
            <javadoc line="45">
                &lt;p&gt;
                  Instantiate a JavaBean.
                  &lt;/p&gt;                
                <param>
                    cls         the class-loader from which we should create
                      the bean.  If this is null, then the system
                      class-loader is used.                    
                </param>
                <param>
                    beanName    the name of the bean within the class-loader.
                      For example &quot;sun.beanbox.foobah&quot;                    
                </param>
                <param>
                    beanContext The BeanContext in which to nest the new bean                    
                </param>
                <exception>
                    ClassNotFoundException if the class of a serialized
                      object could not be found.                    
                </exception>
                <exception>
                    IOException if an I/O error occurs.                    
                </exception>
            </javadoc>
            <method name="instantiate" type="Object" line="59">
                <params>
                    <param name="cls" type="ClassLoader"/>
                    <param name="beanName" type="String"/>
                    <param name="beanContext" type="BeanContext"/>
                </params>
            </method>
            <javadoc line="62">
                Instantiate a bean.
                  &lt;p&gt;
                  The bean is created based on a name relative to a class-loader.
                  This name should be a dot-separated name such as &quot;a.b.c&quot;.
                  &lt;p&gt;
                  In Beans 1.0 the given name can indicate either a serialized object
                  or a class.  Other mechanisms may be added in the future.  In
                  beans 1.0 we first try to treat the beanName as a serialized object
                  name then as a class name.
                  &lt;p&gt;
                  When using the beanName as a serialized object name we convert the
                  given beanName to a resource pathname and add a trailing &quot;.ser&quot; suffix.
                  We then try to load a serialized object from that resource.
                  &lt;p&gt;
                  For example, given a beanName of &quot;x.y&quot;, Beans.instantiate would first
                  try to read a serialized object from the resource &quot;x/y.ser&quot; and if
                  that failed it would try to load the class &quot;x.y&quot; and create an
                  instance of that class.
                  &lt;p&gt;
                  If the bean is a subtype of java.applet.Applet, then it is given
                  some special initialization.  First, it is supplied with a default
                  AppletStub and AppletContext.  Second, if it was instantiated from
                  a classname the applet&apos;s &quot;init&quot; method is called.  (If the bean was
                  deserialized this step is skipped.)
                  &lt;p&gt;
                  Note that for beans which are applets, it is the caller&apos;s responsiblity
                  to call &quot;start&quot; on the applet.  For correct behaviour, this should be done
                  after the applet has been added into a visible AWT container.
                  &lt;p&gt;
                  Note that applets created via beans.instantiate run in a slightly
                  different environment than applets running inside browsers.  In
                  particular, bean applets have no access to &quot;parameters&quot;, so they may
                  wish to provide property get/set methods to set parameter values.  We
                  advise bean-applet developers to test their bean-applets against both
                  the JDK appletviewer (for a reference browser environment) and the
                  BDK BeanBox (for a reference bean container).                
                <param>
                    cls         the class-loader from which we should create
                      the bean.  If this is null, then the system
                      class-loader is used.                    
                </param>
                <param>
                    beanName    the name of the bean within the class-loader.
                      For example &quot;sun.beanbox.foobah&quot;                    
                </param>
                <param>
                    beanContext The BeanContext in which to nest the new bean                    
                </param>
                <param>
                    initializer The AppletInitializer for the new bean                    
                </param>
                <exception>
                    ClassNotFoundException if the class of a serialized
                      object could not be found.                    
                </exception>
                <exception>
                    IOException if an I/O error occurs.                    
                </exception>
            </javadoc>
            <method name="instantiate" type="Object" line="110">
                <params>
                    <param name="cls" type="ClassLoader"/>
                    <param name="beanName" type="String"/>
                    <param name="beanContext" type="BeanContext"/>
                    <param name="initializer" type="AppletInitializer"/>
                </params>
                <declaration name="ins" type="InputStream" line="111"/>
                <declaration name="oins" type="ObjectInputStream" line="112"/>
                <declaration name="result" type="Object" line="113"/>
                <declaration name="serialized" type="boolean" line="114"/>
                <declaration name="serex" type="IOException" line="115"/>
                <scope line="116">
                    <scope line="117"/>
                    <scope line="120"/>
                </scope>
                <declaration name="serName" type="String" line="123"/>
                <declaration name="loader" type="ClassLoader" line="124"/>
                <anonymous_class line="125">
                    <method name="run" type="Object" line="126"/>
                </anonymous_class>
                <scope line="132">
                    <scope line="133">
                        <scope line="134"/>
                        <scope line="137"/>
                    </scope>
                    <scope line="144"/>
                    <scope line="148"/>
                </scope>
                <scope line="153">
                    <declaration name="cl" type="Class" line="154"/>
                    <scope line="155"/>
                    <scope line="158">
                        <scope line="159"/>
                    </scope>
                    <scope line="164"/>
                    <scope line="167"/>
                </scope>
                <scope line="171">
                    <declaration name="stub" type="AppletStub" line="172"/>
                    <scope line="173">
                        <declaration name="applet" type="Applet" line="174"/>
                        <declaration name="needDummies" type="boolean" line="175"/>
                        <scope line="176">
                            <declaration name="resourceName" type="String" line="177"/>
                            <scope line="178"/>
                            <scope line="181"/>
                            <declaration name="objectUrl" type="URL" line="184"/>
                            <declaration name="codeBase" type="URL" line="185"/>
                            <declaration name="docBase" type="URL" line="186"/>
                            <declaration name="cloader" type="ClassLoader" line="187"/>
                            <anonymous_class line="188">
                                <method name="run" type="Object" line="189"/>
                            </anonymous_class>
                            <scope line="195">
                                <declaration name="s" type="String" line="196"/>
                                <scope line="197">
                                    <declaration name="ix" type="int" line="198"/>
                                    <scope line="202"/>
                                </scope>
                            </scope>
                            <declaration name="context" type="BeansAppletContext" line="207"/>
                        </scope>
                        <scope line="211"/>
                        <scope line="214"/>
                        <scope line="217"/>
                        <scope line="221"/>
                    </scope>
                </scope>
            </method>
            <javadoc line="230">
                From a given bean, obtain an object representing a specified
                  type view of that source object.
                  &lt;p&gt;
                  The result may be the same object or a different object.  If
                  the requested target view isn&apos;t available then the given
                  bean is returned.
                  &lt;p&gt;
                  This method is provided in Beans 1.0 as a hook to allow the
                  addition of more flexible bean behaviour in the future.                
                <param>
                    bean        Object from which we want to obtain a view.                    
                </param>
                <param>
                    targetType  The type of view we&apos;d like to get.                    
                </param>
            </javadoc>
            <method name="getInstanceOf" type="Object" line="243">
                <params>
                    <param name="bean" type="Object"/>
                    <param name="targetType" type="Class&lt;?&gt;"/>
                </params>
            </method>
            <javadoc line="246">
                Check if a bean can be viewed as a given target type.
                  The result will be true if the Beans.getInstanceof method
                  can be used on the given bean to obtain an object that
                  represents the specified targetType type view.                
                <param>
                    bean  Bean from which we want to obtain a view.                    
                </param>
                <param>
                    targetType  The type of view we&apos;d like to get.                    
                </param>
                <return>
                    &quot;true&quot; if the given bean supports the given targetType.                    
                </return>
            </javadoc>
            <method name="isInstanceOf" type="boolean" line="255">
                <params>
                    <param name="bean" type="Object"/>
                    <param name="targetType" type="Class&lt;?&gt;"/>
                </params>
            </method>
            <javadoc line="258">
                Test if we are in design-mode.                
                <return>
                    True if we are running in an application construction
                      environment.                    
                </return>
                <see>
                    DesignMode                    
                </see>
            </javadoc>
            <method name="isDesignTime" type="boolean" line="264">
                <declaration name="value" type="Object" line="265"/>
            </method>
            <javadoc line="268">
                Determines whether beans can assume a GUI is available.                
                <return>
                    True if we are running in an environment where beans
                      can assume that an interactive GUI is available, so they
                      can pop up dialog boxes, etc.  This will normally return
                      true in a windowing environment, and will normally return
                      false in a server environment or if an application is
                      running as part of a batch job.                    
                </return>
                <see>
                    Visibility                    
                </see>
            </javadoc>
            <method name="isGuiAvailable" type="boolean" line="278">
                <declaration name="value" type="Object" line="279"/>
            </method>
            <javadoc line="282">
                Used to indicate whether of not we are running in an application
                  builder environment.
                  &lt;p&gt;Note that this method is security checked
                  and is not available to (for example) untrusted applets.
                  More specifically, if there is a security manager,
                  its &lt;code&gt;checkPropertiesAccess&lt;/code&gt;
                  method is called. This could result in a SecurityException.                
                <param>
                    isDesignTime  True if we&apos;re in an application builder tool.                    
                </param>
                <exception>
                    SecurityException  if a security manager exists and its
                      &lt;code&gt;checkPropertiesAccess&lt;/code&gt; method doesn&apos;t allow setting
                      of system properties.                    
                </exception>
                <see>
                    SecurityManager#checkPropertiesAccess                    
                </see>
            </javadoc>
            <method name="setDesignTime" type="void" line="296">
                <params>
                    <param name="isDesignTime" type="boolean"/>
                </params>
                <declaration name="sm" type="SecurityManager" line="297"/>
                <scope line="298"/>
            </method>
            <javadoc line="303">
                Used to indicate whether of not we are running in an environment
                  where GUI interaction is available.
                  &lt;p&gt;Note that this method is security checked
                  and is not available to (for example) untrusted applets.
                  More specifically, if there is a security manager,
                  its &lt;code&gt;checkPropertiesAccess&lt;/code&gt;
                  method is called. This could result in a SecurityException.                
                <param>
                    isGuiAvailable  True if GUI interaction is available.                    
                </param>
                <exception>
                    SecurityException  if a security manager exists and its
                      &lt;code&gt;checkPropertiesAccess&lt;/code&gt; method doesn&apos;t allow setting
                      of system properties.                    
                </exception>
                <see>
                    SecurityManager#checkPropertiesAccess                    
                </see>
            </javadoc>
            <method name="setGuiAvailable" type="void" line="317">
                <params>
                    <param name="isGuiAvailable" type="boolean"/>
                </params>
                <declaration name="sm" type="SecurityManager" line="318"/>
                <scope line="319"/>
            </method>
        </class>
        <class name="ObjectInputStreamWithLoader" line="325">
            <extends class="ObjectInputStream"/>
            <javadoc line="325">
                This subclass of ObjectInputStream delegates loading of classes to
                  an existing ClassLoader.                
            </javadoc>
            <declaration name="loader" type="ClassLoader" line="330"/>
            <javadoc line="331">
                Loader must be non-null;                
            </javadoc>
            <method name="ObjectInputStreamWithLoader" type="constructor" line="334">
                <params>
                    <param name="in" type="InputStream"/>
                    <param name="loader" type="ClassLoader"/>
                </params>
                <scope line="336"/>
            </method>
            <javadoc line="341">
                Use the given ClassLoader rather than using the system class                
            </javadoc>
            <method name="resolveClass" type="Class" line="344">
                <params>
                    <param name="classDesc" type="ObjectStreamClass"/>
                </params>
                <declaration name="cname" type="String" line="345"/>
            </method>
        </class>
        <class name="BeansAppletContext" line="349">
            <implements interface="AppletContext"/>
            <javadoc line="349">
                Package private support class.  This provides a default AppletContext
                  for beans which are applets.                
            </javadoc>
            <declaration name="target" type="Applet" line="354"/>
            <declaration name="imageCache" type="Hashtable" line="355"/>
            <method name="BeansAppletContext" type="constructor" line="356">
                <params>
                    <param name="target" type="Applet"/>
                </params>
            </method>
            <method name="getAudioClip" type="AudioClip" line="359">
                <params>
                    <param name="url" type="URL"/>
                </params>
                <scope line="360"/>
                <scope line="363"/>
            </method>
            <method name="getImage" type="Image" line="367">
                <params>
                    <param name="url" type="URL"/>
                </params>
                <declaration name="o" type="Object" line="368"/>
                <scope line="369"/>
                <scope line="372">
                    <scope line="374"/>
                    <scope line="377"/>
                    <declaration name="img" type="Image" line="381"/>
                </scope>
                <scope line="385"/>
            </method>
            <method name="getApplet" type="Applet" line="389">
                <params>
                    <param name="name" type="String"/>
                </params>
            </method>
            <method name="getApplets" type="Enumeration" line="392">
                <declaration name="applets" type="Vector" line="393"/>
            </method>
            <method name="showDocument" type="void" line="397">
                <params>
                    <param name="url" type="URL"/>
                </params>
            </method>
            <method name="showDocument" type="void" line="399">
                <params>
                    <param name="url" type="URL"/>
                    <param name="target" type="String"/>
                </params>
            </method>
            <method name="showStatus" type="void" line="401">
                <params>
                    <param name="status" type="String"/>
                </params>
            </method>
            <method name="setStream" type="void" line="403">
                <params>
                    <param name="key" type="String"/>
                    <param name="stream" type="InputStream"/>
                </params>
            </method>
            <method name="getStream" type="InputStream" line="405">
                <params>
                    <param name="key" type="String"/>
                </params>
            </method>
            <method name="getStreamKeys" type="Iterator" line="408"/>
        </class>
        <class name="BeansAppletStub" line="412">
            <implements interface="AppletStub"/>
            <javadoc line="412">
                Package private support class.  This provides an AppletStub
                  for beans which are applets.                
            </javadoc>
            <declaration name="active" type="boolean" line="417"/>
            <declaration name="target" type="Applet" line="418"/>
            <declaration name="context" type="AppletContext" line="419"/>
            <declaration name="codeBase" type="URL" line="420"/>
            <declaration name="docBase" type="URL" line="421"/>
            <method name="BeansAppletStub" type="constructor" line="422">
                <params>
                    <param name="target" type="Applet"/>
                    <param name="context" type="AppletContext"/>
                    <param name="codeBase" type="URL"/>
                    <param name="docBase" type="URL"/>
                </params>
            </method>
            <method name="isActive" type="boolean" line="428"/>
            <method name="getDocumentBase" type="URL" line="431"/>
            <method name="getCodeBase" type="URL" line="434"/>
            <method name="getParameter" type="String" line="437">
                <params>
                    <param name="name" type="String"/>
                </params>
            </method>
            <method name="getAppletContext" type="AppletContext" line="440"/>
            <method name="appletResize" type="void" line="443">
                <params>
                    <param name="width" type="int"/>
                    <param name="height" type="int"/>
                </params>
            </method>
        </class>
    </source>