<?xml version="1.0" encoding="UTF-8"?>
    <source package="sun.misc">
        <import package="java.net.URL"/>
        <import package="java.io.File"/>
        <import package="sun.net.www.ParseUtil"/>
        <class name="FileURLMapper" line="32">
            <javadoc line="32">
                (Solaris) platform specific handling for file: URLs .
                  urls must not contain a hostname in the authority field
                  other than &quot;localhost&quot;.
                  This implementation could be updated to map such URLs
                  on to /net/host/...                
                <author>
                    Michael McMahon                    
                </author>
            </javadoc>
            <declaration name="url" type="URL" line="45"/>
            <declaration name="path" type="String" line="46"/>
            <method name="FileURLMapper" type="constructor" line="48">
                <params>
                    <param name="url" type="URL"/>
                </params>
            </method>
            <javadoc line="52">
                @returns the platform specific path corresponding to the URL
                  so long as the URL does not contain a hostname in the authority field.                
            </javadoc>
            <method name="getPath" type="String" line="57">
                <scope line="58"/>
                <declaration name="host" type="String" line="61"/>
                <scope line="62"/>
            </method>
            <javadoc line="69">
                Checks whether the file identified by the URL exists.                
            </javadoc>
            <method name="exists" type="boolean" line="72">
                <declaration name="s" type="String" line="73"/>
                <scope line="74"/>
                <scope line="76">
                    <declaration name="f" type="File" line="77"/>
                </scope>
            </method>
        </class>
    </source>