<?xml version="1.0" encoding="UTF-8"?>
    <source package="sun.misc">
        <import package="java.net.URL"/>
        <import package="java.io.File"/>
        <import package="sun.net.www.ParseUtil"/>
        <class name="FileURLMapper" line="5">
            <javadoc line="5">
                (Solaris) platform specific handling for file: URLs .
                  urls must not contain a hostname in the authority field
                  other than &quot;localhost&quot;.
                  This implementation could be updated to map such URLs
                  on to /net/host/...                
                <author>
                    Michael McMahon                    
                </author>
            </javadoc>
            <declaration name="url" type="URL" line="14"/>
            <declaration name="path" type="String" line="15"/>
            <method name="FileURLMapper" type="constructor" line="16">
                <params>
                    <param name="url" type="URL"/>
                </params>
            </method>
            <javadoc line="19">
                @returns the platform specific path corresponding to the URL
                  so long as the URL does not contain a hostname in the authority field.                
            </javadoc>
            <method name="getPath" type="String" line="23">
                <scope line="24"/>
                <declaration name="host" type="String" line="27"/>
                <scope line="28"/>
            </method>
            <javadoc line="34">
                Checks whether the file identified by the URL exists.                
            </javadoc>
            <method name="exists" type="boolean" line="37">
                <declaration name="s" type="String" line="38"/>
                <scope line="39"/>
                <scope line="42">
                    <declaration name="f" type="File" line="43"/>
                </scope>
            </method>
        </class>
    </source>